<!DOCTYPE html>
<html lang="en">
<head>
    ${require('./../common-templates/head')}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring landing</title>
</head>
<body>
${require('./../common-templates/noscripts')}
<main class="main_content" id="target" role="main">
    <script id="template" type="text/x-handlebars-template">
    <div class="header" role="heading">
        <div class="header-content">
            <picture>
                <source media="(min-width: 660px)" srcset="${require('./img/LOGO-desktop.png')} 1x">
                <img class="mobile-logo" src="./img/LOGO-desktop.png" alt="main-logo">
            </picture>
        </div>
        <div class="bonus-rules">
            <div class="bonus-greetings">
                <div class="bonus-descr-block">
                    <h1 class="bonus-descr-block__title">{{header}}</h1>
                    <a class="bonus-descr-block__link">{{headerDescr}}</a>
                </div>
            </div>
            <div class="bonus-container">
            <div class="bonus-block">
                <h2 class="bonus-block__descr">{{content}}</h2>
                <p class="money-block">1000 $/&euro;</p>
                <p class="freespins-block">+100 {{contentDescr}}</p>
            </div>
                <div class="modal">
                    <div class="modal-header">
                        <h2 class="modal-header__title modal-header__title--success visually-hidden">Успешно
                            отправлено</h2>
                    </div>
                    <form class="modal-body" name="form" method="post" onsubmit="event.preventDefault();sendForm.send();">
                        <div class="form__input-error__text"></div>
                        <input id="email" class="user-address" type="email" name="email" required placeholder ='{{placeholder}}'>
                        <div class="modal-footer">
                            <button type="submit" class="button-modal registration-link reg-submit" id="reg-button">{{email}}</button>
                            <div class="checkbox-block">
                                <div class="form__input-wrapper">
                                    <span class="form__terms-label-error__text left-self"></span>
                                    <input type="checkbox" id="checkbox" name="checkbox" checked>
                                    <label for="checkbox" class="checkbox-label form__terms-label">{{termsIagree}} <a class="terms-link" href="https://yourbet.com/en/pages/terms-and-conditions" target="_blank">{{termsHref}}</a> {{termsAnd}}
                                        <a class="terms-link" href="https://yourbet.com/en/pages/privacy-policy" target="_blank">{{termsPrivacyPolicy}}</a> <br class="mobile-separate"> {{termsCitizen}} </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="achievments-block">
            <div class="achievments-wrapper">
                <div class="sprite achievment-item achievment-item--one">
                    <h2 class="achievment-item__heading">{{footerSports}}</h2>
                    <p class="achievment-item__descr">{{footerSports2}}</p>
                </div>
                <div class="sprite achievment-item achievment-item--two">
                    <h2 class="achievment-item__heading">1000+</h2>
                    <p class="achievment-item__descr">{{footerGames}}</p>
                </div>
                <div class="sprite achievment-item achievment-item--three">
                    <h2 class="achievment-item__heading">24/7</h2>
                    <p class="achievment-item__descr">{{footerSupport}}</p>
                </div>
            </div>
        </div>
<div id="modal" class="modal-window" tabindex="-1">
    <div class="modal-frame">
        <p class="modal-text">{{modalWindowText}}</p>
        <p class="modal-email">
            <span></span>
        </p>
        <a id="redirect-href" href="https://yourbet.com" class="form__button modal__button">{{allrightBtn}}</a>
    </div>
</div>
</script>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" async></script>
</body>
</html>