.modal {
    overflow: auto;
    background-color: #560e2a;
    color: #fff;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    -webkit-transition: opacity .3s, max-height .3s;
    transition: opacity .3s, max-height .3s
}

@media (min-width: 960px) {
    .modal {
        margin: auto;
        width: 344px;
    }
}

.modal-header {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 9px;
    padding-top: 25px;
    color: #FFFFFF;
}

@media (min-width: 960px) {
    .modal-header {
        padding-top: 8px;
    }
}

.modal-header__title {
    font-size: 16px;
}

.modal-header__descr {
    text-transform: none;
    line-height: 30px;
    margin: 23px 0 45px auto;
}

.modal-footer .button-modal {
    font-size: 16px;
}

.modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -9px;
}

.modal-body input[type=text], .modal-body input[type=email] {
    width: 65%;
    margin: 0 0 6px;
    background-color: #FFFFFF;
    color: #000000;
    opacity: 1;
    text-align: center;
    padding: 20px;
}

@media (min-width: 660px) {
    .modal-body input[type=text], .modal-body input[type=email] {
        width: 44%;
    }
}

@media (min-width: 960px) {
    .modal-body input[type=text], .modal-body input[type=email] {
        padding: 20px;
        width: 65%;
    }

    .modal-body {
        margin-top: 0;
    }
}

.modal-body input[type=text]:focus, .modal-body input[type=email]:focus {
    opacity: 1;
    outline: #000000;
}

::-webkit-input-placeholder {
    color: #000000;
    font-weight: bold;
}

.modal-footer {
    width: 83%
}

@media (min-width: 660px) {
    .modal-footer {
        width: 57%;
    }
}

@media(min-width: 960px) {
    .modal-footer {
        width: 80%;
    }
}

@media screen and (min-width: 0px) {
    .modal-footer .button-modal {
        font-size: 14px;
        margin-top: 14px;
        width: 98%;
        border: 1px solid black;
        padding-bottom: 0;
        margin-bottom: 12px;
        padding-top: 0
    }
}

@media (min-width: 960px) {
    .modal-footer .button-modal {
        margin-top: 5px;
    }
}

.visually-hidden {
    display: none;
}

.mobile-space {
    display: inline;
}

@media (min-width: 960px) {
    .desktop-space {
        display: inline
    }

    .mobile-space {
        display: none
    }
}

@media (min-width: 320px) {
    .notice {
        padding: 0;
        margin-bottom: 10px;
        font-size: 18px;
        white-space: nowrap;
        font-weight: 300;
    }
}

@media (min-width: 660px) {
    .notice {
        font-size: 23px;
    }
}

@media (min-width: 960px) {
    .notice {
        font-size: 16px;

    }
}

.checkbox-label {
    font-size: 11px;
    font-weight: 300;
    color: #FFFFFF;
}

@media (min-width: 960px) {
    .checkbox-label {
        font-size: 10px;
    }
}

/*Checkbox-styles*/

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 14px;
    display: inline-block;
    color: #8a5569;
    text-align: left;
    word-spacing: 1px;
}

@media (min-width: 960px) {
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label {
        line-height: 15px;
    }
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    background: #fff;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url("./img/check.svg");
    position: absolute;
    top: 5px;
    left: 9px;
    transition: all 0.1s ease;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checkbox-block {
    padding-bottom: 20px;
    margin-top: -15px;
}
@media(min-width: 960px) {
    .checkbox-block {
        padding-bottom: 14px;
    }
}
.visually-hidden {
    display: none;
}

.visually-seen {
    display: inline-block;
}

.modal-header__success-descr {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.user-email {
    font-size: 20px;
    font-weight: bold;
}

.user-error {
    color: #ff0000;
}