.registration-link {
    /*display: inline-block;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#f8ab10), to(#ff6c1a));
    background: linear-gradient(to bottom,#f8ab10  0,#ff6c1a  100%);
    width: 36%;
    margin: 0 auto 44px;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
    .registration-link {
        font-size: 28px;
        line-height: 37px;
        padding: 13px 20px 13px 20px;
    }

.registration-link p {
    text-align: center
}

    .registration-link {
        padding-left: 13px;
        padding-right: 13px;
        font-size: 22px;
        width: 20%;
        line-height: 50px;
        margin-bottom: 7px;
        font-weight: 500;
    }

@media(min-width: 960px) {
    .registration-link {
        margin-bottom: 17px

    }
}