@import "variables.styl"

body
  font-family "Avenir Next", Arial, sans-serif
  background-color #910037
  @media(min-width desktop)
    //overflow-y hidden
.main_content
  width 100%
  height 100%
  min-height 100vh

.header
  background-image url("./img/bg-mobile-sunset.jpg");
  background-repeat no-repeat
  background-size cover
  background-position center 100%
  position relative
  width 100%
  height 100%
  padding-bottom 66px
  overflow-x hidden
  @media(min-width tablet)
    height 100%
    padding-bottom 83px
  @media(min-width desktop)
    background-image url("./img/bg-sunset.jpg");
    height 569px;
    padding-bottom 0


.header::before
  content ''
  position absolute
  z-index 2
  @media(min-width 768px)
    background-repeat no-repeat
    background-image url("./img/car-mobile.png")
    bottom 0
    left 15%
    width 136px
    height 72px
  @media(max-width: 812px) and (max-height 375px)
    background-image none
  @media(min-width desktop)
    width 197px
    height 87px
    background-image url("./img/tram.png")
    transition move-to 0.5s ease-out
    animation-name carMove
    animation-duration 10s
    animation-fill-mode: forwards
    bottom 0
    left 0


.header::after
  content ''
  width 89px
  height 165px
  position absolute
  bottom 0
  background-repeat no-repeat
  //left 55%
  transition position 0.5s linear
  z-index 1
  @media(min-width 768px)
    background-image url("./img/palms-mobile.png")
  @media(max-width: 812px) and (max-height 375px)
    background-image none
  @media(min-width 960px)
    background-image url("./img/palms.png")
    width 1045px
    height 240px
    transform translateX(-50vw)
    bottom 0
    //left 0
    animation-name treeMoveForwards
    animation-duration 8s
    animation-fill-mode forwards
    animation-delay 2s
  @media (min-width 1440px)
    width 1440px
    background-repeat repeat-x
    transform translateX(-50vw)

.header-content
  text-align center
  max-width 1200px
  margin 0 auto
  padding-top 14px
  display flex
  flex-direction column
  @media (min-width 960px)
    flex-direction row
    padding-top 32px
  picture
    margin 0 auto

.bonus-link
  align-self center
  color #fff
  text-decoration none
  font-size 15px

.bonus-rules
  display flex
  margin 0 auto
  max-width 1200px
  justify-content space-around
  padding-top 0
  flex-direction column
  @media(min-width desktop)
    flex-direction row
.bonus-greetings
  display flex
  flex-direction column
  text-align center
  @media(min-width 2560px)
    text-shadow 0px 4px 10px rgba(0,0,0,0.3)

.bonus-descr-block
  z-index 40
  padding-left 20px
  padding-right 20px
  @media(min-width desktop)
    padding-left 10px
    padding-right 10px
  &__title
    font-size 19px
    text-transform uppercase
    font-weight 600
    color #ffffff
    line-height normal
    margin-bottom 13px
    @media(min-width tablet)
      font-size 40px
      margin-bottom 18px
    @media(min-width desktop)
      font-size 75px
      margin-bottom 15px
  &__link
    font-size 16px
    color #ffffff
    z-index: 30
    @media(min-width tablet)
      font-size 26px
    @media(min-width desktop)
      font-size 40px
      display block
.bonus-container
  display flex
  flex-direction column
  color #ffffff
  height auto
  z-index 2
  width 269px
  margin 0 auto
  padding-top 20px
  @media(min-width tablet)
    width 400px
  @media(min-width desktop)
    padding-top 0
    padding-right 31px
    width auto
    margin 0

.bonus-block
  display flex
  flex-direction column
  background-color #7b003a
  margin 0 auto
  width 100%
  height 139px
  @media(min-width desktop)
    width auto
    margin 32px 0 0
    height auto
    padding-left 13 pxs
  &__descr
    font-size 16px
    font-weight 400
    text-align center
    text-transform uppercase
    margin-top 23px
    margin-left auto
    margin-right auto
    @media(min-width tablet)
      font-size 20px
    @media(min-width desktop)
      margin-top 23px
      text-align start
      margin-left 26px
      font-size 17px

.money-block
  font-weight bold
  margin-bottom 10px
  font-size 30px
  padding-top 15px
  margin-left auto
  margin-right auto
  @media(min-width desktop)
    margin-left 26px
    margin-right auto
    font-size 52px

.freespins-block
  font-size 20px
  padding-bottom 28px
  text-align center
  margin-left auto
  margin-right auto
  font-weight 400
  @media(min-width 960px)
    margin-left 26px

.bonuses-items
  height 251px
  width 100%
  margin-top 16%
  background-repeat no-repeat
  background-size cover

.bonuses-container
  max-width 1400px
  margin 0 auto
  display flex
  flex-direction row
  justify-content space-between
  padding-top 0

.bonus-item
  background-color #FFFFFF
  display flex
  flex-direction column
  width 258px
  height 207px
  line-height 28px
  border-radius 10px
  margin-right 39px
  padding-left 20px
  box-shadow 9px 6px 37px 1px rgba(0 0 0 0.6);
  &__descr
    font-size 19px
  &__heading
    font-size 33px
    text-transform uppercase
    font-weight 800
    padding-top 20px
    padding-bottom 20px

.percent-average
  font-weight bold

.notice-descr
  margin-top auto
  padding-bottom 20px
  font-size 16px
  color #a88b4a

.achievments-block
  background-color #910037
  min-height 58vh
  display flex
  margin-top -10px
  @media(max-width 320px)
    min-height 77vh
  @media(max-width 360px)
      min-height 72vh
  @media(min-width 375px)
      min-height 400px
  @media(max-width 375px) and (max-height 812px)
    min-height 400px
  @media(min-width tablet)
    min-height 400px
  @media(max-width 731px) and (max-height 411px)
    min-height 100vh
  @media(max-width 736px) and (max-height 414px)
      min-height 100vh

  @media(max-width: 812px) and (max-height 375px)
    min-height 105vh
  @media(min-width desktop)
    min-height 34vh
  @media(min-width 1900px)
    min-height auto
.achievment-item
  background-color #ffffff
  height 100px
  padding-left 0
  width 88%
  margin-right auto
  margin-bottom auto
  margin-top auto
  text-align center
  margin-left auto
  border-radius 19px
  position relative
  color #7b003a
  @media(max-width 375px) and (max-height 812)
    min-height 52vh
  @media(max-width 640px) and (max-height 360px)
    margin-top 27px
    width 54%
    margin-bottom 55px
  @media(min-height 812px)
    margin-top 35px
    margin-bottom 20px
  @media (min-width desktop)
    height 100px
    padding-left 25px
    width 100%
    margin-right 5px
    margin-bottom auto
    margin-left 40px
    text-align left
  &__heading
    font-weight bold
    font-size 26px
    padding-top 22px
    text-align left
    padding-left 20px
    z-index 10
    position relative
    @media(min-width desktop)
      font-weight bold
      font-size 29px
      padding-top 29px
      padding-left 0
  &__descr
    font-size 15px
    font-weight 300
    color #000
    text-align left
    padding-left 20px
    @media(min-width desktop)
      font-size 20px
      font-weight 300
      position relative
      z-index 10
      padding-left 0
.achievments-wrapper
  display flex
  flex-direction column
  justify-content center
  max-width 1200px
  margin 0 auto
  width 90%
  height auto
  @media(min-width tablet)
    width 58%
  @media (min-width desktop)
    margin-top 20px
    margin-bottom auto
    justify-content space-between
    flex-direction row
    height 220px
    width 100%

.achievment-item--one::before
  content ''
  position absolute
  width: 97px
  height: 121px;
  background-image url("./img/cup-mobile.svg")
  background-repeat no-repeat
  margin-left auto
  left auto
  right 0
  z-index 2
  margin-right auto
  top: -19px
  @media(min-width desktop)
    background-image url("./img/cup-desktop.svg")
    width 131px
    height: 156px;
    left auto
    top: -35%
.achievment-item--two::before
  content ''
  background-image url("./img/casino-mobile.svg")
  position absolute
  width: 123px;
  height: 148px;
  background-repeat no-repeat
  margin auto
  top -42px
  left auto
  right 0
  z-index 2
  @media(min-width desktop)
    background-image url("./img/casino-desktop.svg")
    width: 158px
    height: 141px
    top -41%

.achievment-item--three
  @media(min-width desktop)
    margin-right 40px

.achievment-item--one, .achievment-item--two, .achievment-item--three
  height 85px
  @media(min-width desktop)
    height 100px
.achievment-item--three::before
  content ''
  position absolute
  background-image url("./img/support-mobile.svg")
  width: 119px
  height: 111px
  top: -29%
  right 15px
  z-index 2
  margin auto
  background-repeat no-repeat
  @media (min-width desktop)
    background-image url("./img/support-desktop.svg")
    width: 152px
    top: -41%
    height: 159px
    left auto


@keyframes carMove {
  0% {
    transform translate(0vw)
  }
  100% {
    transform translate(50vw)
  }
}

@keyframes treeMoveForwards {
  0% {
    transform translateX(-50vw)
  }
  25% {
    transform translateX(-120vw)
  }
  30% {
    transform translateX(-130vw)
  }
  40% {
    transform translateX(-150vw)
    opacity 1
  }
  50% {
    transform translateX(-155vw)
    opacity 0
  }
  55% {
    transform translateX(110vw)
    opacity 0
  }
  60% {
    transform translateX(105vw)
    opacity 0
  }
  70% {
    transform translateX(100vw)
    opacity 1
  }

  100% {
    transform translateX(3vw)
    opacity 1
  }
}
.form__terms-label-error__text
  display: none
.form__terms-label-error .form__terms-label-error__text
  position: absolute
  left: 29px
  top: 0
  color: #ff0000
  font-size: 12px
  display: block
.modal-window
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 0 10px
  background: rgba(0, 0, 0, 0.7)
  transition: opacity 500ms
  visibility: hidden
  opacity: 0
  display: flex
  justify-content: center
  z-index 10

.open
  visibility: visible
  opacity: 1
  z-index 50


.modal-frame
  padding: 120px 40px 40px
  background: #ffffff
  border-radius: 5px
  width: 450px
  position: relative
  transition: all 500ms ease-in-out;
  align-self: center
  text-align: center
  line-height 40px
  h4
    font-size 28px
    font-weight bold
.modal-frame:before
  content: '';
  background: url('./img/allright.png') no-repeat;
  background-size: 195px
  display: block
  width: 195px
  height: 195px
  position: absolute
  top: 17%
  left: 50%
  transform: translate(-50%,-50%)

.modal-title
  color: #D6A336;
  font-size: 26.255px
  margin-bottom: 40px
  font-weight: bold

.modal-text
  color: #969378
  line-height normal

.modal-email
  color: #000000
  margin-bottom: 20px


.modal-email button
  display: inline-block
  color: #D6A336
  margin: 10px
  padding: 0
  cursor: pointer
  user-select: none
  border: 0
  background: none
  font: inherit
  line-height: normal

.modal__button
  width: 66%
  display: block
  font-weight: bold
  line-height: 50px
  margin 0 auto
  color: #ffffff
  text-decoration: none
  background: linear-gradient(to bottom,#f8ab10  0,#ff6c1a  100%)
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ab10), to(#ff6c1a))


.form__terms-label-error__text
  display: none
.form__input-error__text
  color: #ff0000
  font-size: 14px
  display: block
  padding-bottom 6px
  display block

.form__terms-label-error
  display block
  font-size 12px
  padding-bottom 10px
  color: #ff0000
  @media(min-width desktop)
    padding-bottom 11px
    margin-left -25%
.seen
  display block
.form__input-wrapper
  padding-top 14px
  @media (min-width desktop)
    padding-top auto
.left-self
  @media(min-width desktop)
    margin-left -5%
.terms-link
    color: #ffffff
.mobile-separate
  display inline
  @media(min-width desktop)
    display none
.mobile-logo
  width 125px
  @media(min-width tablet)
    width 100%
