.modal
  box-sizing border-box

.modal *,
.modal *:before,
.modal *:after
  box-sizing inherit

.modal
  position fixed
  -webkit-overflow-scrolling touch
  z-index 10
  trbl ()

  .modal-overlay
    position fixed
    background #1B1A2A url('./images/stars_bg.jpg') center / cover no-repeat
    trbl ()
    -webkit-backface-visibility hidden

  .modal-content
    pointer-events all
    position relative
    margin 0px auto
    padding 3em 1em

  .modal-scroll
    position absolute
    trbl ()
    right -100px
    padding-right 100px
    overflow auto

  .modal-center
    height 100%
    width 100%
    display table
    position relative
    overflow hidden

  .modal-center-row
    display table-row

  .modal-center-cell
    display table-cell
    vertical-align middle

  .popup
    width-between-property 'width', 320, 250, 1024, 400, true, true
    text-align center
    margin 0 auto
    padding 2.1rem 2rem
    background #2C343B
    position relative
    &__stars
      position absolute
      trbl ()
      background url('./images/coins.png') center / contain no-repeat
      transform translateY(-100%) scale(-1)
      opacity 0
      transition all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
      transition-delay 500ms
      .entered&
        opacity 1
        transform translateY(0) scale(1)

    &__badge
      width-between-property 'font-size', 320, 7, 1024, 15, true, true
      width 14em
      height 14em
      background url('./images/badge.png') center / contain no-repeat
      position absolute
      padding 4em
      box-sizing border-box
      top 0
      right 0
      transform translate(50%, -50%) rotate(-20deg)
      display flex
      justify-content center
      align-items center
      font-weight bold
      span
        transform translateY(-0.2em)
        font-size 1.2em
    &__title
      font-weight bold
      color #FFC700
      font-size 1.9em

    &__desc
      font-weight bold
      color #FFFFFF
      font-size 1.4em
      line-height 1.2em
      margin-top 1em
    &__prizes
      display flex
      flex-wrap wrap
      justify-content space-around
      margin 2em -0.2em
    &__prize
      padding 0 0.2em
      line-height 1.3
      max-width 12em
      flex 0 0 50%
    &__prize-img
      display inline-block
      margin-left 50%
      transform translateX(-50%)
      width 9em
      height 6em
    &__prize-title
      font-weight bold
      margin-top 0.5em
      font-size 1.4em
      color gold
      position relative
      &:after
        background none
        content attr(data-text)
        left 50%
        width 100%
        transform translateX(-50%)
        position absolute
        top 0
        z-index -1
        text-shadow 0 0.4em 0.6em rgba(0, 0, 0, 0.83)
    @supports (background-clip: text)
      &__title
        color transparent
        font-smoothing antialiased
        background linear-gradient(180deg, #FFE202, #FFA102)
        background-clip text
      &__prize-title
        color transparent
        font-smoothing antialiased
        background url('./images/prize-title-bg.png') repeat
        background-clip text
    @supports (-webkit-background-clip: text)
      &__title
        color transparent
        -webkit-font-smoothing antialiased
        background linear-gradient(180deg, #FFE202, #FFA102)
        -webkit-background-clip text
      &__prize-title
        color transparent
        -webkit-font-smoothing antialiased
        background url('./images/prize-title-bg.png') repeat
        -webkit-background-clip text
        -webkit-text-fill-color transparent

    &__prize-desc
      color #969377

    &__btn-wrapper
      margin 2em 0 0
    &__btn
      reset-button ()
      display inline-block
      background linear-gradient(180deg, #FFE202, #FFA102)
      color black
      font-size 1.4em
      width 14em
      padding 1.1em 0 1em
      text-transform uppercase
      text-decoration none
      border-radius 0.5em
      &[disabled]
        opacity 0.4

    &__btn-more
      reset-button ()
      // background linear-gradient(180deg, #FFE202, #FFA102)
      color white
      font-size 1.4em
      width 14em
      padding 1em 0
      border 1px solid white
      border-radius 0.5em


