.app__body

  .slots
    margin 4em 0
    text-align center

    &__shadow
      position absolute
      box-shadow inset 0 0 3.33em 2em #000000
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
    &__game
      background white
      // box-shadow inset 0 0 10px 8px #000000
      width 100%
      height 100%
      overflow hidden
      position relative
    &__game-wrapper
      width-between-property 'font-size', 320, 7, 1024, 15, true, true
      margin 0 auto
      width 37.7em
      height 18.5em
      background url('./images/slots-wrapper.png') center / contain no-repeat
      padding 2.5em
      box-sizing border-box
    &__reels
      width 100%
      height 100%
      display flex
      align-items center
    &__reel-spacer
      flex 0 0 0.2em
      height 100%
      background black
    &__reel
      flex 1
      heigth 0
      position relative
      // .konvajs-content
      canvas
        position absolute
        top 50%
        transform translateY(-50%)


    &__button
      reset-button ()
      background linear-gradient(180deg, #FFE202, #FFA102)
      color black
      font-size 1.3em
      margin-top 2.5rem
      padding 1.1em 2.5em 1em
      font-weight bold
      text-transform uppercase
      border-radius 0.5em
