@font-face {
  font-family: 'Proxima Nova';
  font-weight: 200;
  src: url('./fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/ProximaNovaT-Thin.woff') format('woff'),
  url('./fonts/ProximaNova/ProximaNovaT-Thin.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('./fonts/ProximaNova/ProximaNova-Light.eot');
  src: url('./fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('./fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('./fonts/ProximaNova/ProximaNova-Regular.eot');
  src: url('./fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('./fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('./fonts/ProximaNova/ProximaNova-Semibold.eot');
  src: url('./fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
  url('./fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('./fonts/ProximaNova/ProximaNova-Bold.eot');
  src: url('./fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
  url('./fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-style: normal;
}