*[class*='column']
  float left
  display inline-block
.column-1
  width 100%
.column-2
  width 50%
.column-3
  width 33.3333%
.column-4
  width 25%

.row
  margin auto
  width 100%
  max-width 1280px

.right
  float right
.left
  float left

.t-a_c
  text-align center

.f-w_sb
  font-weight 500
.f-w_b
  font-weight 600

.color_lightblue
  color #2599F2!important
.color_black
  color #000!important

.btn
  display inline-block
  border-radius 100px
  text-align center
  cursor pointer
  text-transform uppercase
  border 0 solid
  &.btn_big
    padding 23px 48px 20px
    font-size 15px
    letter-spacing 3px
  &.btn_mid
    padding 16px 36px 14px
    font-size 14px
    letter-spacing 1.17px
  &.btn_min
    padding 11px 18px 8px
    font-size 14px
    letter-spacing 1px
  &.btn_white
    color #0C71BF
    background #FFFFFF
    box-shadow 0 12px 34px 0 rgba(13,103,172,0.40)
    transition all .4s
    font-weight 500
    &:hover
      opacity .95
      box-shadow 0 4px 28px 0 rgba(13,103,172,0.40)
      transition all .4s
    &:active
      opacity 1
      box-shadow 0 0 34px 0 rgba(13,103,172,0.40)
      transition all .4s
   &.btn_border
     border 1px solid
     background transparent
     box-shadow 0 0 0 transparent
     &-white
       color #fff
       border-color #fff
       transition all .4s
      &:hover
        color #000
        background-color #fff
        transition all .4s
      &.color_blue:hover
        color #2599F2
        transition all .4s
      &:active
        opacity .95
        transition all .4s

        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,.8);
}