@import "variables.styl"
@import "fonts.styl"
@import "guidelines.styl"

body
  font-family 'Proxima Nova'
  font-weight 400
  @media(max-width tablet)
    min-width 640px

.slide
  width 100%
  float left
  margin auto
  position relative
  &.slide-1
    height 720px
    font-size 100%
    @media(max-width tablet)
      height auto

    .slide-1_mouse
      position absolute
      bottom 66px
      left 0
      right 0
      margin auto
      width 24px
      height 34px
      background url(./images/slide-1_mouse.svg) center no-repeat
      @media(max-width tablet)
        display none
    .slide-1_bg
      position absolute
      width 100%
      height 100%
      background url(./images/slide-1_bg.svg) center no-repeat #2599F2
      background-size 100%
      z-index -1
      @media(max-width tablet)
        background-size auto 50%
    .slide-1_top
      margin 35px 0 45px
      @media(max-width desktop)
        box-sizing border-box
        padding 0 10px
      @media(max-width tablet)
        padding 0 40px
      &__logo
        font-size 29px
        color #fff
        letter-spacing 0
        font-weight 200
      &__btn
        text-align right
    .slide-1_content
      text-align center
      margin-top 6px
      @media(max-width tablet)
        margin-top 0
      &__chip
        width 100%
        height 127px
        background url(./images/slide-1_chip.png) center no-repeat
        background-size 127px
      &__text
        font-weight 500
        font-size 70px
        color #FFFFFF
        letter-spacing 0
        text-align center
        line-height 84px
        margin 37px 0 45px
        @media(max-width tablet)
          font-size 55px
      &__btn
        @media(max-width tablet)
          font-size 28px
          margin-top 70px
          margin-bottom 57px
          padding 38px 88px 34px

  &.slide-2
    .slide-2_content
      width 100%
      display flex
      flex-wrap wrap
      &__item
        position relative
        height 400px
        background-repeat no-repeat
        box-sizing border-box
        @media(max-width desktop)
          height 350px

        &__title
          text-transform uppercase
        &__text
          font-weight 300
        &-1
          padding 60px 80px
          width 50%
          background-image url(./images/slide-2_item-1.png)
          background-position right 0 bottom 0
          background-color #F6F6F6
          @media(max-width desktop)
            padding 30px
            background-size 55%
          @media(max-width tablet)
            padding 45px 75px
            min-height 557px
            background-size 264px
            background-position bottom 0 center
          .slide-2_content__item__desc
            width 260px
            @media(max-width tablet)
              width 100%
          .slide-2_content__item__title
            font-size 22px
            color #212121
            letter-spacing 0
            line-height 32px
            padding-bottom 23px
            font-weight 600
            @media(max-width desktop)
              padding-bottom 0
            @media(max-width tablet)
              font-size 40px
              letter-spacing 0
              line-height 52px
          .slide-2_content__item__text
            font-size 14px
            color #9FA3A7
            letter-spacing 0
            line-height 22px
            @media(max-width tablet)
              padding-top 25px
              font-size 28px
              letter-spacing 0
              line-height 32px
        &-2
          width 50%
          background-image url(./images/slide-2_item-2.png)
          background-position right -10px top -44px
          background-color #fdfdfd
          @media(max-width desktop)
            background-size 60%
          @media(max-width tablet)
            padding 57px 50px
            min-height 623px
            background-size 335px
            background-position top 240px center
          .slide-2_content__item__desc
            width 330px
            position absolute
            bottom 51px
            left 57px
            @media(max-width desktop)
              bottom 25px
              left 30px
            @media(max-width tablet)
              position static
              width 100%
          .slide-2_content__item__title
            font-size 35px
            color #212121
            letter-spacing 0
            line-height 32px
            padding-bottom 14px
            font-weight 600
            @media(max-width desktop)
              padding-bottom 5px
            @media(max-width tablet)
              font-size 40px
              letter-spacing 0
              line-height 52px
          .slide-2_content__item__text
            font-size 14px
            color #9FA3A7
            letter-spacing 0
            line-height 22px
            @media(max-width tablet)
              padding-top 10px
              font-size 28px
              letter-spacing 0
              line-height 32px
        &-3
          width 25%
          background-image url(./images/slide-2_item-3.png)
          background-position center bottom 0
          background-color #F05638
          padding 37px 30px
          @media(max-width desktop)
            padding 30px 15px
            background-size 90%
          @media(max-width tablet)
            min-height 526px
            background-size 288px
            padding 37px 0 30px
          .slide-2_content__item__title
            font-weight 500
            font-size 22px
            color #fff
            letter-spacing 0
            text-align center
            line-height 32px
            padding-bottom 14px
            @media(max-width desktop)
              padding-bottom 5px
              font-size 16px
              line-height 1.5
            @media(max-width tablet)
              font-size 40px
              letter-spacing 0
              line-height 52px
              padding 0 40px
              box-sizing border-box
              width 100%
              font-weight 500
          .slide-2_content__item__text
            font-size 14px
            color rgba(255,255,255,.4)
            letter-spacing 0
            text-align center
            line-height 20px
            @media(max-width tablet)
              padding 35px 60px
              font-size 28px
              letter-spacing 0
              line-height 32px
        &-4
          width 50%
          background-image url(./images/slide-2_item-4.png)
          background-position right 0 bottom 0
          background-color #EDE2E2
          padding 41px 47px
          @media(max-width desktop)
            padding 30px
            background-size 65%
          @media(max-width tablet)
            padding 40px
            min-height 636px
            background-size 476px
          .slide-2_content__item__desc
            width 274px
            @media(max-width tablet)
              width 100%
          .slide-2_content__item__title
            font-size 22px
            color #212121
            letter-spacing 0
            line-height 32px
            padding-bottom 14px
            font-weight 500
            @media(max-width desktop)
              padding-bottom 0
            @media(max-width tablet)
              font-size 40px
              letter-spacing 0
              line-height 52px
          .slide-2_content__item__text
            font-size 14px
            color rgba(0,0,0,.5)
            letter-spacing 0
            line-height 26px
            @media(max-width tablet)
              font-size 28px
              letter-spacing 0
              line-height 32px
              padding-top 35px
        &-5
          width 25%
          background-image url(./images/slide-2_item-5.png)
          background-position center bottom 0
          background-color #DBE1E8
          padding 37px 25px
          @media(max-width desktop)
            background-size 90%
            padding 30px 15px
          @media(max-width tablet)
            min-height 458px
            background-size 270px
            padding 34px 0 40px
          .slide-2_content__item__title
            font-weight 500
            font-size 22px
            letter-spacing 0
            text-align center
            line-height 32px
            padding-bottom 14px
            @media(max-width desktop)
              line-height 1.4
              font-size 16px
              padding-bottom 5px
            @media(max-width tablet)
              font-size 40px
              letter-spacing 0
              line-height 52px
              padding 0 40px
              box-sizing border-box
              width 100%
              font-weight 600
          .slide-2_content__item__text
            font-size 14px
            letter-spacing 0
            text-align center
            line-height 20px
            @media(max-width tablet)
              padding-top 35px
              font-size 28px
              letter-spacing 0
              line-height 32px
        @media(max-width tablet)
          width 100%
          text-align center
          height auto

  &.slide-3
    padding 72px 0 53px
    background url(./images/slide-3_chip.svg) right center no-repeat #434350
    @media(max-width tablet)
      padding 52px 50px 53px
      box-sizing border-box
    .slide-3_title
      font-size 36px
      color #fff
      letter-spacing 0
      text-align center
      line-height 84px
      font-weight 500
    .slide-3_desc,
    .slide-3_subtitle
      font-size 18px
      color #fff
      letter-spacing 0
      text-align center
      line-height 31px
      @media(max-width tablet)
        font-size 28px
        line-height 31px
    .slide-3_desc
      padding-top 22px
      font-weight 300
    .slide-3_subtitle
      padding-top 30px
      font-weight 500
      text-transform uppercase
    .slide-3_btn
      @media(max-width tablet)
        font-size 28px
        margin-top 40px
        margin-bottom 7px
        padding 38px 88px 34px
    .slide-3_items
      display flex
      justify-content center
      flex-wrap wrap
      padding-top 40px
      @media(max-width tablet)
        padding-top 70px
      &__item
        width 33.3333%
        display flex
        align-items center
        justify-content center
        margin-top 20px
        margin-bottom 70px
        @media(max-width tablet)
          display block
          text-align center
          margin-bottom 30px
        &__prcnt
          font-size 24px
          color #fff
          font-weight 500
          letter-spacing 0
          border 2px solid #fff
          height 67px
          width 67px
          line-height 67px
          text-align center
          border-radius 100%
          margin-right 17px
          @media(max-width tablet)
            margin auto auto 20px auto
            display inline-block
          span
            font-weight 300
        &__title
          font-size 37px
          color #fff
          letter-spacing 0
          line-height 26px
          font-weight 500
        &__desc
          padding-top 7px
          font-size 15px
          color #fff
          letter-spacing 0
          line-height 26px

  &.slide-4
    padding 82px 0 50px
    @media(max-width tablet)
      padding 42px 0 30px
    .slide-4_title
      font-size 36px
      color #212121
      letter-spacing 0
      padding-bottom 74px
      text-align center
      line-height 48px
      font-weight 500
      @media(max-width tablet)
        font-size 40px
        letter-spacing 0
        line-height 84px
        padding-bottom 36px
    .slide-4_items-wrap
      max-width 864px
      padding-bottom 40px
      display flex
      justify-content space-between
      margin auto
      @media(max-width tablet)
        display inline-block
        width 100%
      &__item
        width 33.3333%
        max-width 224px
        position relative
        padding-top 82px
        position relative
        @media(max-width tablet)
          margin-bottom 155px
          width 100%
          max-width 100%
          padding-top 74px
          br
            display none
        &:before
          content ''
          position absolute
          top 0
          left 50%
          margin auto
          background-repeat no-repeat
          background-color transparent
        &:after
          content ''
          position absolute
          top 0
          bottom 0
          right -50px
          margin auto
          height 20px
          width 33px
          display inline-block
          background url(./images/slide-4_arr.svg) left top no-repeat
          @media(max-width tablet)
            transform rotate(90deg)
            left 50%
            margin-left -22px
            bottom -290px
        &__title
          padding-bottom 14px
          font-size 15px
          font-weight 500
          color #212121
          letter-spacing 0
          text-align center
          text-transform uppercase
          font-weight 600
          @media(max-width tablet)
            font-size 22px
            line-height 27px
            padding-bottom 9px
        &__desc
          font-size 14px
          color #9FA3A7
          letter-spacing 0
          text-align center
          line-height 22px
          @media(max-width tablet)
            font-size 22px
            line-height 22px
        &:last-child
          @media(max-width tablet)
            margin-bottom 0
          &:after
            display none
        &-1
          &:before
            width 70px
            height 60px
            margin-left -35px
            background-image url(./images/slide-4_item-1.svg)
        &-2
          &:before
            top -6px
            width 65px
            height 66px
            margin-left -32px
            background-image url(./images/slide-4_item-2.svg)
        &-3
          &:before
            width 70px
            height 60px
            margin-left -35px
            background-image url(./images/slide-4_item-3.svg)

  &.slide-5
    background-color #E1EAEC
    padding 66px 0 76px
    @media(max-width tablet)
      padding 36px 0 76px
    .slide-5_title
      font-size 36px
      color #212121
      letter-spacing 0
      text-align center
      line-height 48px
      font-weight 600
    .slide-5_desc
      padding 33px 10px 40px
      font-size 14px
      color #4B4E50
      letter-spacing 0
      text-align center
      line-height 21px
      margin auto
      max-width 906px
      @media(max-width tablet)
        font-size 22px
        letter-spacing 0
        line-height 30px
        padding 31px 50px 40px
    .slide-5_contact
      text-align center
      padding 24px 0 68px
      @media(max-width tablet)
        padding 10px 0 46px
      &__phone,
      &__mail
        display inline-block
        position relative
        font-size 14px
        color #6C6C6C
        letter-spacing 0
        line-height 26px
        margin auto 38px
        text-align left
        text-decoration none
        @media(max-width tablet)
          display block
          text-align center
          font-size 24px
          letter-spacing 0
          line-height 26px
        &:before
          content ''
          position absolute
          left 0
          top 0
          margin auto
          display inline-block
          background-position left 0 top 0
          background-repeat no-repeat
          background-color transparent
          transition all .3s
          @media(max-width tablet)
            position static
            background-size contain
        &:hover
          color #000
          &:before
            opacity .8
            transition all .3s
      &__phone
        padding-left 22px
        @media(max-width tablet)
          padding-left 0
        &:before
          top 6px
          width 15px
          height 15px
          background-image url(./images/slide-5_phone.svg)
          @media(max-width tablet)
            height 40px
            width 40px
            margin-bottom -12px
            margin-right 15px
      &__mail
        padding-left 26px
        @media(max-width tablet)
          padding-left 0
          margin-top 38px
        &:before
          top 6px
          width 15px
          height 13px
          background-image url(./images/slide-5_mail.svg)
          @media(max-width tablet)
            height 35px
            width 40px
            margin-bottom -9px
            margin-right 12px
    .slide-5_callback
      background #2599F2
      box-shadow 0 23px 43px 0 rgba(10,63,103,0.32)
      border-radius 6px
      max-width 470px
      margin auto
      padding 26px 38px 38px
      box-sizing border-box
      text-align center
      &__title
        font-size 31px
        color #fff
        letter-spacing 0
        text-align center
        line-height 48px
        font-weight 500
      &__field
        display flex
        padding-bottom 48px
        padding-top 30px
        @media(max-width tablet)
          display block
          padding-bottom 40px
          padding-top 18px
        &__left
          font-size 10px
          color rgba(255,255,255,.4)
          letter-spacing 1px
          width 120px
          line-height 38px
          height 31px
          text-align left
          transition all .3s
          @media(max-width tablet)
            width 100%
            text-align center
            font-size 26px
            padding-bottom 16px
        &__right
          width calc(100% - 120px)
          @media(max-width tablet)
            width 100%
          .field
            width 100%
            font-size 18px
            color #fff
            letter-spacing 0
            border 0 solid
            border-bottom 1px solid rgba(255,255,255,.7)
            height 31px
            background-color transparent
            outline none
            transition all .3s
            @media(max-width tablet)
              text-align center
              font-size 25px
              height 50px
            &:focus
              border-bottom 1px solid rgba(255,255,255,1)
              transition all .3s
        &:focus-within
          opacity 1
          .slide-5_callback__field__left
            color #fff
            transition all .3s
      &__submit
        padding-left 50px
        padding-right 50px
        box-shadow 0 12px 34px 0 rgba(13,103,172,0.40)
        @media(max-width tablet)
          font-size 28px
          margin-top 0
          margin-bottom 2px
          padding 32px 88px 28px