.app__body
  // pixelperfect './yb_slots_land-1.png'
  // width 1280px
  // height 840px
  box-sizing border-box
  padding 3.5rem 2rem
  color white
  display flex
  flex-direction column
  align-items center
  justify-content space-around
  min-height 90vh
  min-width 100%
  background url('./images/bg.jpg') center / cover no-repeat, linear-gradient(0, #120D36, #14052E)

  .logo
    // position relative
    // z-index 11
    width 16em
    height 4.66em
    background url('./images/logo.png') center / contain no-repeat
  .luck
    color #FFDA57
    margin-top 1.5em
    font-size 2.5em
  .footnote
    color white
    text-align center
    font-size 1.4em

