.yours
  position absolute
  z-index 11
  top 2rem
  right 2rem
  border 1px solid #FEB116
  background #271D42
  padding 1em 2em
  border-radius 1em
  text-align center
  width-between-property 'font-size', 320, 5, 1024, 15, true, true
  // pixelperfect './images/pp.png'
  +width-lessthan(569)
    display none
  &__prize
    padding-top 1em
    img
      max-width 5em
  &__title
    font-size 1.3em
    color #EBBE49
    font-weight bold
  &__desc
    font-size 1.1em
    color #F8F178
