<video class="video" poster="../img/12.jpg" autoplay muted loop>
</video>
<div class="video-fogging"></div>
<div class="form-wrapper">
    <form class="form" onsubmit="event.preventDefault(); sendForm.send();">
        <div class="form__logo"></div>
        <div class="form__content">
            <span class="form__welcome-text">{{header}}</span>
            <div class="form__bonus-list">
                <div class="form__iphone-bonus form__bonus">
                    <h2 class="form__title">{{bonus1}}</h2>
                    <span class="form__bonus-text">{{bonusDescr1}}</span>
                </div>
            </div>
            <div class="form__input-wrapper">
                <div class="form__input-error__text"></div>
                <input id="email" type="text" required>
                <label for="email">{{placeholder}}</label>
            </div>
            <div class="form__bottom-wrapper">
                <button id="reg-button" class="form__button mb15">
                  {{bonusButton}}</button>
                <div class="preloader hidden">
                    <img src="../img/spinner.gif" class="preloader-img">
                </div>
                <div class="form__terms">
                    <label class="form__terms-label">
                        <span class="form__terms-label-error__text"></span>
                        <input id="agree" type="checkbox" checked>
                        <span class="form__terms-checkmark"></span>
                        <label for="agree" class="checkbox-label form__terms-label">{{termsIagree}} <a class="terms-link" href="https://yourbet.com/en/pages/terms-and-conditions" target="_blank">{{termsHref}}</a> {{termsAnd}}
                            <a class="terms-link" href="https://yourbet.com/en/pages/privacy-policy" target="_blank">{{termsPrivacyPolicy}}</a> {{termsCitizen}} </label>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="modal" class="modal">
    <div class="modal-frame">
        <h4 class="modal-title">{{popupHeader}}</h4>
        <p class="modal-text">{{modalWindowText}}</p>
        <div class="modal-footer">
            <p class="modal-email">
            </p>
            <button class="edit-button">{{edit}}</button>
        </div>
        <a id="redirect-href" href="https://yourbet.com" class="form__button modal__button">{{allrightBtn}}</a>
    </div>
</div>
