.register-modal
  box-sizing border-box
  
  .modal-overlay
    position fixed
    background #1B1A2A url('./images/stars_bg.jpg') center / cover no-repeat
    trbl ()
    -webkit-backface-visibility hidden

  .modal-content
    pointer-events all
    position relative
    margin 0px auto
    padding 3em 1em

  .modal-scroll
    position absolute
    trbl ()
    right -100px
    padding-right 100px
    overflow auto

  .modal-center
    height 100%
    width 100%
    display table
    position relative
    overflow hidden

  .modal-center-row
    display table-row

  .modal-center-cell
    display table-cell
    vertical-align middle

.register-modal *,
.register-modal *:before,
.register-modal *:after
  box-sizing inherit

.register-modal
  position fixed
  -webkit-overflow-scrolling touch
  z-index 20
  trbl ()


  .popup
    width-between-property 'width', 320, 250, 1024, 400, true, true
    text-align center
    margin 0 auto
    padding 2.1rem 2rem
    background #2C343B
    position relative


    &__title
      font-weight bold
      color #FFC700
      font-size 1.9em

    &__desc
      font-weight bold
      color #FFFFFF
      font-size 1.4em
      line-height 1.2em
      margin-top 1em
    &__prizes
      display flex
      justify-content space-around
      margin 2em -0.2em
    &__prize
      padding 0 0.2em
      line-height 1.3
      max-width 8em
    &__prize-img
      display inline-block
      margin-left 50%
      transform translateX(-50%)
      width 9em
      height 6em
    &__prize-title
      font-weight bold
      margin-top 0.5em
      font-size 1.4em
      color gold
      position relative

    &__prize-desc
      color #969377

    &__btn-wrapper
      margin 2em 0 0
    &__btn
      reset-button ()
      display inline-block
      background linear-gradient(180deg, #FFE202, #FFA102)
      color black
      font-size 1.4em
      width 14em
      padding 1.1em 0 1em
      text-transform uppercase
      text-decoration none
      border-radius 0.5em

    &__btn-more
      reset-button ()
      // background linear-gradient(180deg, #FFE202, #FFA102)
      color white
      font-size 1.4em
      width 14em
      padding 1em 0
      border 1px solid white
      border-radius 0.5em


