doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Yourbet Slot Machine
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    | ${require((process.env.NODE_ENV === 'production') ? './scripts.html' : './empty.html')}
  body
    | ${require((process.env.NODE_ENV === 'production') ? './noscripts.html' : './empty.html')}
    #app
