html
  min-height 100vh
  // font-size 15px
  width-between-property 'font-size', 320, 9, 1024, 15, true, true
body
  min-height 100vh
  // height 100%
  background #140C30
  font-family 'PF DinDisplay Pro'
