[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 43px;
    padding-bottom: 10px;
    cursor: pointer;
    line-height: normal;
    display: inline-block;
    color: #929491;
    text-align: left;
    font-size: 10px;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    background: #d0d0d0;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("images/check.svg");
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.1s ease;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
}
