<!DOCTYPE html>
<html lang="en">
<head>
     ${require('./../common-templates/head')}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yourbet landing</title>
</head>
<body>
${require('./../common-templates/noscripts')}
<main class="main_content" id="target" role="main">
    <script id="template" type="text/x-handlebars-template">
        <div classd="header" role="heading">
            <div class="header-content">
                <picture>
                    <source media="(min-width: 960px)" srcset="${require('./images/yourbet-logo-desktop.png')} 1x">
                    <source media="(min-width: 660px)" srcset="${require('./images/yourbet-ipad.png')} 1x">
                    <source media="(min-width: 320px)" srcset="${require('./images/logo-yourbet.png')} 1x">
                    <img class="mobile-logo" srcset='../src/images/logo-yourbet.png' alt="main-logo">
                </picture>
                <h2 class="header-content__descr">{{header}} {{headerDescr}}</h2>
            </div>
        </div>
        <div class="content-area">
            <div class="content-area-wrapper">
                <div class="modal-block">
                    <div class="bonus-block">
                        <h2 class="bonus-block__descr">&euro;/$ 555 {{modalHeader}}</h2>
                        <div class="block-headers">
                            <p class="notice">{{modalLink}}</p> <a class="entry-link" target="_blank" href="https://yourbet.com/">{{modalEnterLink}}</a>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="modal-header">
                            <h2 class="modal-header__title modal-header__title--success visually-hidden">Успешно
                                отправлено</h2>
                        </div>
                        <form class="modal-body" name="form" method="post"
                              onsubmit="event.preventDefault();sendForm.send();">
                            <div class="form__input-error__text"></div>
                            <input id="email" class="user-address" type="email" name="email" required
                                   placeholder='{{placeholder}}'>
                            <div class="modal-footer">
                                <button type="submit" class="button-modal registration-link reg-submit" id="reg-button">
                                    {{modalButton}}
                                </button>
                                <div class="checkbox-block">
                                    <div class="form__input-wrapper">
                                        <span class="form__terms-label-error__text left-self"></span>
                                        <input type="checkbox" class="checkbox" id="checkbox" name="checkbox" checked>
                                        <label for="checkbox" class="checkbox-label form__terms-label">{{termsIagree}}
                                            <a class="terms-link"
                                               href="https://yourbet.com/en/pages/terms-and-conditions"
                                               target="_blank">{{termsHref}}</a> {{termsAnd}}
                                            <a class="terms-link" href="https://yourbet.com/en/pages/privacy-policy"
                                               target="_blank">{{termsPrivacyPolicy}}.</a>{{termsCitizen}} </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="steps-block">
                    <div class="steps-block-wrapper">
                        <h3 class="steps-block__header visible-ipad">{{getStartedTitle}}</h3>
                        <ul class="steps-list">
                            <li class="steps-header"><h3 class="steps-block__header hidden-ipad">{{getStartedTitle}}</h3></li>
                            <li class="steps-list__item steps-list__item--one"><p class="steps-text">{{mainContentDescrOne}}</p></li>
                            <li class="steps-list__item steps-list__item--two"><p class="steps-text">{{mainContentDescrTwo}}</p></li>
                            <li class="steps-list__item steps-list__item--last-child"><p class="steps-text">{{mainContentDescrThree}}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="achievements-block">
                    <div class="achievements-block-wrapper">
                        <div class="achievment-item">
                            <h4 class="achievment-item__header">{{achievmentOneHeader}}</h4>
                            <p class="achievment-item__descr">{{achievmentOneDescr}}</p>
                        </div>
                        <div class="achievment-item">
                            <h4 class="achievment-item__header">{{achievmentTwoHeader}}</h4>
                            <p class="achievment-item__descr">{{achievmentTwoDescr}}</p>
                        </div>
                        <div class="achievment-item achievment-item--last-child">
                            <h4 class="achievment-item__header">{{achievmentThreeHeader}}</h4>
                            <p class="achievment-item__descr">{{achievmentThreeDescr}}</p>
                            <p class="achievment-item__descr">{{achievmentThreeDescr2}}</p>
                        </div>
                    </div>
                </div>
                <footer class="main-footer">
                    <div class="footer-content">
                        <picture>
                            <source media="(min-width: 660px)" srcset="${require('./images/yourbet-footer.png')} 1x">
                            <source media="(min-width: 320px)" srcset="${require('./images/logo-yourbet.png')} 1x">
                            <img class="mobile-logo" srcset='../src/images/logo-yourbet.png' alt="main-logo">
                        </picture>
                    </div>
                </footer>
            </div>
        <div id="modal" class="modal-window" tabindex="-1">
            <div class="modal-frame">
                <p class="modal-text">{{modalWindowText}}</p>
                <p class="modal-email">
                    <span></span>
                </p>
                <a id="redirect-href" href="https://yourbet.com" class="form__button modal__button">{{allrightBtn}}</a>
            </div>
        </div>
    </script>
</main>
</body>
</html>