@import "variables.styl"

body
    background-color #000000
    font-family 'Roboto', Arial, sans-serif
.visually-hidden, .hidden
    display none
.main_content
    background-image url('images/mobile-background-soccer.jpg')
    background-size 100% 100%
    background-color #000
    @media(min-width tablet)
        background-image url("images/background-ipad.jpg")
        background-size cover
    @media(min-width desktop)
        background-image url("images/background-desktop.jpg")

.header-content, .main-footer
    display flex
    justify-content center
    color #fff
    align-items center
    text-align center
    flex-direction column
    margin 0 auto
    line-height 38px
    @media(min-width tablet)
        line-height 50px
    &__descr
        font-size 19px
        font-weight normal
        @media(min-width tablet)
            font-size 30px
        @media(min-width desktop)
            font-size 34px
    picture
        padding-top 20px
        @media(min-width tablet)
            padding-top 50px
        @media(min-width desktop)
            padding-top 22px
.header-content
    @media(min-width 1920px)
        padding-top 4%
.content-area-wrapper
    max-width auto
    margin 0 auto
.modal-block
    margin 0 auto
    background-color #fff
    @media(min-width tablet)
        order 2

.bonus-block
    text-align center
    padding-top 25px
    &__descr
        font-size 21px
        font-weight bold
        margin-bottom 15px
        color #44a10e
        @media(min-width 1024px)
          font-size 27px
          padding-top 13px
        @media(min-width 1200px)
            font-size 30px
.block-headers
    display flex
    justify-content center
    @media(min-width tablet)
        font-size 15px
    @media(min-width desktop)
        width 80%
        margin 0 auto
        justify-content center
.entry-link
    color #44a10e
    text-decoration none
    margin-left 2px
    @media(min-width 1024px)
        margin-left 4px
        white-space nowrap
.modal-block
    width 88%
    margin-top 12px
    border-radius 11px
    height auto
    @media (min-width tablet)
        width 53%
        margin-left auto
        margin-right 53px
        margin-top 23px
    @media(min-width desktop)
        margin-top 0
        width 34%
        margin-right 8%
        z-index 10
    @media(min-width 1024px)
        margin-right 3%
    @media(min-width 1200px)
        margin-right 8%
    @media(min-width 1920px)
        width 29%
        max-width 29%
        margin-top 2%
.modal
    margin 0 auto
    height auto
.modal-body, .modal-footer
    margin 0 auto
    display flex
    justify-content center
    align-items center
    flex-direction column
.modal-body
    padding-top 15px
    width 85%
    @media(min-width tablet)
        width 80%
        padding-top 30px
    @media(min-width desktop)
        padding-top 20px
.user-address
    padding 23px 0 23px 0
    text-align center
    width 100%
    background-color #ececec
    color #3f3f3f
    text-transform uppercase
    border 1px solid #ececec
    border-radius 10px
    margin-bottom 23px
    &:focus
        border-radius 10px
    @media(min-width tablet)
        font-size 20px
.content-area-wrapper
  display flex
  flex-direction column
  align-items center
  @media(min-width 1920px)
      margin-top 2%
      max-width 1500px
.button-modal
    padding 25px
    width 100%
    font-size 18px
    color #fff
    text-transform uppercase
    border-radius 10px
    border none
    background: -webkit-gradient(linear, left top, left bottom, from(#95ce1f), to(#57ac12))
    background: linear-gradient(to bottom,#95ce1f  0,#57ac12  100%)
    box-shadow: 0 26px 65.28px 2.72px rgba(49, 85, 2, 0.22);
    @media(min-width tablet)
        font-size 20px
        padding 21px
    &:hover
        background: -webkit-gradient(linear, left top, left bottom, from(#99e71e), to(#5abe12))
        background: linear-gradient(to bottom,#99e71e  0,#5abe12  100%)
        border none
    &:active
        background: -webkit-gradient(linear, left top, left bottom, from(#83c00c), to(#4e9e0a))
        background: linear-gradient(to bottom,#83c00c  0,#4e9e0a  100%)
        border none

.terms-link
  color inherit
.checkbox-block
    padding-top 0
    padding-bottom 10px
    @media(min-width tablet)
        padding-top 10px
    @media(min-width desktop)
        padding-top 20px
        padding-bottom 20px
.notice
    width 44%
    @media(min-width tablet)
        width 33%
    @media(min-width 1024px)
        white-space wrap
        width auto
.steps-block
    display flex
    flex-direction column
    background: linear-gradient(to right, #346902 11%,#346902 11%,#3a7102 21%,#447f03 26%,#447f03 30%,#447f03 30%,#4e8a03 50%,#539203 56%,#559403 64%,#5a9a03 72%,#5ea003 81%,#68ad04 91%,#6bb204 100%);
    width 100%
    margin-top 12%
    text-align center
    color #fff
    position relative
    @media(min-width tablet)
        background transparent
        order 1
        margin-top 3%
    @media(min-width desktop)
        position relative
    &:before
        content ''
        background-image url("images/footballer.png")
        background-repeat no-repeat
        width 111px
        bottom 0
        left 2%
        height 254px
        position absolute
        @media(min-width tablet)
            background-image none
            //background-image url("images/footballer-ipad.png")
            //width 235px
            //height 590px
    &__header
        font-size 18px
        font-style italic
        font-weight bold
        text-transform uppercase
        width auto
        padding-top 17px
        line-height 20px
        margin-right 10px
        text-align left
        padding-bottom 23px
        @media(min-width tablet)
            font-size 20px
            text-align center
            margin 0 auto
        @media(min-width desktop)
            padding-top 24px
            padding-bottom 50px
            margin auto
            white-space nowrap

.steps-block-wrapper
    display flex
    flex-direction column
    width 51%
    margin-left auto
    margin-right 26px
    @media(min-width tablet)
      width 100%
      margin 0 auto
    @media(min-width desktop)
        position absolute
        width 80%
        z-index 2
.steps-list
    display flex
    flex-direction column
    width auto
    @media(min-width tablet)
        flex-direction row
        width 100%
        margin 0 auto
        justify-content center
        padding-top 70px
    @media(min-width 1024px)
        width 84%
        flex-direction column
        align-items center
        padding-top 20px
    @media(min-width 1200px)
        width 66%
    &__item
        font-size 16px
        font-weight 300
        font-style italic
        padding-bottom 34px
        margin-right 0
        text-align left
        position relative
        @media(min-width tablet)
            font-size 20px
            padding-top 16px
            width 14%
            margin-right 16%
            text-align center
        @media(min-width desktop)
            display flex
            flex-direction row
            padding-top 3px
            width 23%
            padding-bottom 90px
        &:after
            content ''
            position absolute
            background-image url("images/arrow-desktop.svg");
            width 20px
            left 64px
            top 25px
            height 20px
            background-repeat no-repeat
            @media(min-width tablet)
              right -80%
              left auto
              width 30px
              background-image url("images/arrow-ipad.png")
            @media(min-width desktop)
                background-image url("images/arrow-desktop.svg")
                width 23px
                height 27px
                top 50%
                right auto
                left 18px
.steps-list__item--one
    position relative
    &::before
        content ''
        @media(min-width tablet)
            background-image url("images/check-circle-2.png")
            width 38px
            height 38px
            position absolute
            top -50%
            left 0
            right 0
            margin-left auto
            margin-right auto
        @media(min-width desktop)
            background-image url("images/check-circle-2-desktop.png")
            width 48px
            height 48px
            top -10%
            right 100%

.steps-list__item--two
    position relative
    &::before
        content ''
        @media(min-width tablet)
            background-image url("images/hand-banknotes.png")
            width 38px
            height 35px
            position absolute
            top -50%
            left 0
            right 0
            margin-left auto
            margin-right auto
        @media(min-width desktop)
            background-image url("images/hand-banknotes-desktop.png")
            width 48px
            right 100%
            top -10%
            height 45px
.steps-list__item--last-child
  padding-bottom 21px
  position relative
  @media(min-width tablet)
      margin-right 0
  @media(min-width desktop)
      margin-right 16%
  &:after
    content ''
    background-image none
  &:before
    @media (min-width tablet)
        content ''
        position absolute
        background-image url("images/money-bag-coins.png")
        width 36px
        height 38px
        top -50%
        left 0
        right 0
        margin-left auto
        margin-right auto
    @media(min-width desktop)
        background-image url("images/money-bag-coins-desktop.png")
        width 46px
        height 48px
        top -25%
        padding-bottom 0
        right 100%
.achievements-block
    display flex
    flex-direction column
    padding-top 32px
    width 87%
    position relative
    margin 0 auto
    &:after
        @media(min-width tablet)
            content ''
            position absolute
            background-image url("images/footballer-ipad.png")
            width 244px
            height 1019px
            z-index 5
            bottom 0
            margin auto
        @media(min-width 1024px)
            background-image url("images/footballer-desktop.png")
            width 280px
            height 620px
            margin-top 11%
            right 76%
    @media(min-width tablet)
        background linear-gradient(to right, #346902 11%,#346902 11%,#3a7102 21%,#447f03 26%,#447f03 30%,#447f03 30%,#4e8a03 50%,#539203 56%,#559403 64%,#5a9a03 72%,#5ea003 81%,#68ad04 91%,#6bb204 100%);
        order 3
        width 100%
        margin-top 6%
        padding-top 20px
        padding-bottom 5px
    @media(min-width desktop)
        margin-top 3%
.achievements-block-wrapper
    display flex
    flex-direction column
    width 100%
    @media(min-width tablet)
        width 76%
        margin-left auto
        flex-direction row
    @media(min-width desktop)
        width 70%
        max-width 70%
.achievment-item
    border 2px solid rgba(255,255,255, 0.4)
    color #fff
    text-align center
    padding-top 14px
    padding-bottom 14px
    display flex
    width auto
    height auto
    line-height 20px
    z-index 10
    flex-direction column
    margin-bottom 22px
    cursor pointer
    @media(min-width tablet)
      border 2px solid rgba(255,255,255, 0.4)
      width 32%
      line-height 21px
      margin-right 7px
      margin-top 9px
      padding-left 10px
      padding-top 20px
      padding-bottom 20px
      padding-right 10px
      align-self center
      white-space nowrap
      text-align center
    @media(min-width desktop)
        margin-right 35px
    &__header
        font-size 20px
        font-weight bold
    &__descr
        font-size 15px
        font-weight normal
    &:hover
        background-color #fff
        color #000
.achievment-item--last-child
    @media(min-width tablet)
        padding-top 10px
        padding-bottom 9px
        margin-right 50px
    @media(min-width 1024px)
        margin-right 5%
    @media(min-width 1200px)
        margin-right 11%
    @media(min-width 1920px)
        margin-right 25%
.footer-content
    picture
        opacity 0.2
        @media(min-width tablet)
            opacity 0.8
.main-footer
    padding-top 30px
    padding-bottom 15px
    @media(min-width tablet)
        order 4
.mobile-separate
    display inline
    @media(min-width tablet)
        display none
.steps-text
    @media(min-width tablet)
        line-height 25px
    @media(min-width desktop)
        margin-left 80px
        white-space nowrap
.steps-header
    @media(min-width desktop)
        width 23%
        margin-right 16%
        text-align center
.form__terms-label-error__text
    display: none
.form__terms-label-error .form__terms-label-error__text
    position: absolute
    left: 29px
    top: 0
    color: #ff0000
    font-size: 12px
    display: block
.modal-window
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding: 0 10px
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    visibility: hidden
    opacity: 0
    display: flex
    justify-content: center
    z-index 10

.open
    visibility: visible
    opacity: 1
    z-index 50


.modal-frame
    padding: 120px 40px 40px
    background: #ffffff
    border-radius: 5px
    width: 450px
    position: relative
    transition: all 500ms ease-in-out;
    align-self: center
    text-align: center
    line-height 40px
    h4
        font-size 28px
        font-weight bold
.modal-frame:before
    content: '';
    background: url('images/allright.png') no-repeat;
    background-size: 195px
    display: block
    width: 195px
    height: 195px
    position: absolute
    top: 17%
    left: 50%
    transform: translate(-50%,-50%)

.modal-title
    color: #D6A336;
    font-size: 26.255px
    margin-bottom: 40px
    font-weight: bold

.modal-text
    color: #969378
    line-height normal

.modal-email
    color: #000000
    margin-bottom: 20px


.modal-email button
    display: inline-block
    color: #D6A336
    margin: 10px
    padding: 0
    cursor: pointer
    user-select: none
    border: 0
    background: none
    font: inherit
    line-height: normal

.modal__button
    width: 66%
    display: block
    font-weight: bold
    line-height: 50px
    margin 0 auto
    color: #ffffff
    text-decoration: none
    border-radius 10px
    background: -webkit-gradient(linear, left top, left bottom, from(#95ce1f), to(#57ac12))
    background: linear-gradient(to bottom,#95ce1f  0,#57ac12  100%)
    box-shadow: 0 26px 65.28px 2.72px rgba(49, 85, 2, 0.22);


.form__terms-label-error__text
    display: none
.form__input-error__text
    color: #ff0000
    font-size: 14px
    display: block
    padding-bottom 6px
    display block

.form__terms-label-error
    display block
    font-size 12px
    padding-bottom 10px
    color: #ff0000
    margin-left 0
    margin-right auto
    margin-top -6px
    @media(min-width tablet)
        margin-top -15px
    @media(min-width desktop)
        padding-bottom 11px
        margin-left 0
        margin-top -10px
        margin-right auto
.seen
    display block
.form__input-wrapper
    padding-top 20px
    @media (min-width desktop)
        padding-top 0
        //padding-top 14px
.left-self
    @media(min-width desktop)
        margin-left 0
.mobile-separate
    display inline
    @media(min-width desktop)
        display none
.mobile-logo
    width 125px
    @media(min-width tablet)
        width 100%
.visible-ipad
    display none
    @media(min-width tablet)
        display block
    @media(min-width desktop)
        display none
.hidden-ipad
    display block
    @media(min-width tablet)
        display none
    @media(min-width desktop)
        display block
