html {
  height: 100%;

}

body {
  position: relative;
  height: 100%;
  background: url("./img/12.jpg") no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  font-family: 'PF DinDisplay Pro', sans-serif !important;
}

.mb15 {
  margin-bottom: 26px !important;
}
.mb15:after {
  display: table;
  content: '';
  width: 100%;
  height: 0;
}
.mb20 {
  margin-bottom: 20px !important;
}

.video-fogging {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.45);
  z-index: -998;
}
.video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -999;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fedd6c;
  font-weight: 400;
  min-height: 100%;
}
.form {
  width: 430px;
  min-width: 300px;
  background: #31363a;
}

.form__logo {
  height: 100px;
  background: url("./img/LOGO.png") center 18px no-repeat, #222222;
  background-size: 50%;
}

.form__content {
  margin: 0 45px 20px;
}

.form__welcome-text {
  margin: 20px 0 15px;
  display: block;
  text-align: center;
  font-size: 20px;
}
.form__bonus-list {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  justify-content: space-between;
}
.form__bonus {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}
.form__bonus-img {
  max-height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form__title {
  font-size: 42px;
  color: #FEB819;
  background: url('./img/text-texture.png') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-size: cover;
  text-align: center;
  text-shadow: 0 1px 11px rgba(0,0,0,0.2);
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.form__bonus-text {
  display: block;
  color: #ffffff;
  font-size: 35px;
  text-transform: lowercase;
}
.form__free-spin-bonus .form__title {
  text-transform: uppercase;
}

.main_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.form__input-wrapper {
  width: 88%;
  padding: 0 20px 15px;
  background: #ffffff;
  margin-bottom: 20px;
  position: relative;
  margin: 0 auto 20px auto;
}
.form__input-wrapper.form__input-error{
  position: relative;
}
.form__input-wrapper.form__input-error label{
  display: none;
}
.form__input-wrapper .form__input-error__text{
  display: none;
}
.form__input-error .form__input-error__text{
  position: absolute;
  top: 17px;
  left: 20px;
  color: #ff0000;
  font-size: 10px;
  display: block;
}
.form__input-wrapper input {
  width: 100%;
  height: 55px;
  border-width: 0 0 1px 0;
  font-size: 14px;
  outline: 0;
  font-weight: 400;
  border-color: #FFD14B;
}
.form__input-wrapper input[data-empty="false"],
.form__input-wrapper input:valid,
.form__input-wrapper input:focus {
  padding: 30px 0 10px;
}
.form__input-wrapper label {
  position: absolute;
  top: 22px;
  left: 20px;
  color: #909090;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.form__input-wrapper input[data-empty="false"] + label,
.form__input-wrapper input:valid + label,
.form__input-wrapper input:focus + label {
  font-size: 10px;
  font-weight: 400;
  transform: translate3d(0, -5px, 0);
 }

.form__bottom-wrapper {
  max-width: 300px;
  margin: 0 auto;
}
.form__currency {
  line-height: 34px;
  height: 34px;
}
.form__currency-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.form__switch {
  position: relative;
  display: inline-block;
  width: 69px;
  height: 34px;
  vertical-align: middle;
  margin: 0 20px;
}
.form__currency-switch {
  float: right;
}
.form__currency-switch input {
  display: none;
}
.form__slider {
  position: absolute;
  cursor: pointer;
  border-radius: 17px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(243, 203, 113);
  box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.2),inset 0px 3px 4px 0px rgba(0, 0, 0, 0.004);
  -webkit-transition: .4s;
  transition: .4s;
}
.form__slider:after, .form__slider:before {
  display: block;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  height: 26px;
  width: 26px;
  font-weight: bold;
  color: #3e3649;
  left: 4px;
  bottom: 4px;
  z-index: 10;
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.4) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.4) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.4) 100%);
  box-shadow: 0px 6px 9.5px 0.5px rgba(0, 0, 0, 0.6),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
  -webkit-transition: .4s;
  transition: .4s;
}
.form__slider:before {
  content: "€";
}
.form__slider:after {
  content: "$";
  opacity: 0;
}
.form__currency-switch input:checked ~ .form__switch .form__slider:before,
.form__currency-switch input:checked ~ .form__switch .form__slider:after {
  transform: translateX(35px);
}
.form__currency-switch input:checked ~ .form__switch .form__slider:before {
  opacity: 0;
}
.form__currency-switch input:checked ~ .form__switch .form__slider:after {
  opacity: 1;
}
.form__EUR, .form__USD {
  font-size: 17px;
  font-weight: 400;
  transition: .4s;
}
.form__USD {
  color: #cecfd0;
}
.form__currency-switch input:checked ~ .form__EUR {
  color: #cecfd0;
}
.form__currency-switch input:checked ~ .form__USD {
  color: #fedd6c;
}

.form__button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  background-image: -moz-linear-gradient( 90deg, rgb(255,161,14) 1%, rgb(255,235,55) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,161,14) 1%, rgb(255,235,55) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,161,14) 1%, rgb(255,235,55) 100%);
  box-shadow: 7px 12.124px 35px 0px rgba(6, 7, 7, 0.51);
  border: none;
  cursor: pointer;
}
.form__button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(255,195,14) 1%, rgb(248,255,55) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,195,14) 1%, rgb(248,255,55) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,195,14) 1%, rgb(248,255,55) 100%);
  box-shadow: 7px 12.124px 35px 0px rgba(6, 7, 7, 0.51);
}
.form__button:active {
  background-image: -moz-linear-gradient( -90deg, rgb(255,161,14) 1%, rgb(255,235,55) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(255,161,14) 1%, rgb(255,235,55) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(255,161,14) 1%, rgb(255,235,55) 100%);
  box-shadow: 0px 14px 35px 0px rgba(6, 7, 7, 0.15);
}

.form__terms {
  font-size: 13px;
  color: #c1c1c1;
}
.form__terms-label-error__text{
  display: none;
}
.form__terms-label.form__terms-label-error .form__terms-label-error__text{
  position: absolute;
  left: 29px;
  top: -10px;
  color: #ff0000;
  font-size: 12px;
  display: block;
}
.form__terms-label {
  padding-left: 14px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.form__terms-label.form__terms-label-error{
  position: relative;
  padding-top: 16px;
}
.form__terms-label input {
  display: none;
}
.form__terms-checkmark {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #f3cb71;
}
.form__terms-label.form__terms-label-error .form__terms-checkmark{
  top: 16px;
}
.form__terms-checkmark:after {
  position: absolute;
  display: none;
  content: '';
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #f3cb71;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
.form__terms-label input:checked ~ .form__terms-checkmark:after {
  display: block;
}
.form__terms-text {
  font-size: 12px;
}

.form__terms-text a{
  /*display: block;*/
  text-transform: none;
  color: #fedd6c;
  cursor: pointer;
}

@media (max-width: 500px) {
  .form__welcome-text {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .form__bonus-text {
    font-size: 25px;
  }
  .form__input-wrapper {
    width: 100%;
  }
  .form-wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form__content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .form__bonus {
    width: 100%;
  }
  .form__bonus-img {
    max-height: 100px;
  }
  .form__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .form__deposit-bonus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    margin: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal-frame {
  padding: 140px 40px 40px;
  background: #31363a;
  border-radius: 5px;
  width: 450px;
  position: relative;
  transition: all 500ms ease-in-out;
  align-self: center;
  text-align: center;
}
.modal-frame:before {
  content: '';
  background: url('./img/allright.png') no-repeat;
  background-size: 195px;
  display: block;
  width: 195px;
  height: 195px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
.modal-title {
  color: #D6A336;
  font-size: 26.255px;
  margin-bottom: 40px;
  font-weight: bold;
}
.modal-text {
  color: #969378;
  margin-bottom: 20px;
}
.modal-email {
  color: white;
  margin-bottom: 20px;
  margin-right: 20px;
}
.modal-email button {
  display: inline-block;
  color: #D6A336;
  margin: 10px;
  padding: 0;
  cursor: pointer;
  user-select: none;
  border: 0;
  background: none;
  font: inherit;
  line-height: normal;
}
.modal__button {
  width: 100%;
  display: block;
  line-height: 20px;
  color: black;
  text-decoration: none;
}

.terms-link {
  color: #fedd6c;
  text-transform: none;
  cursor: pointer;
}
.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

.hidden-image {
  width: 113px;
  height: 74px;
}
.freespins-img {
  height: 74px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.edit-button {
  display: inline-block;
  color: #D6A336;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  border: 0;
  background: none;
  font: inherit;
  line-height: normal;
  align-self: flex-start;
}
.preloader-img {
  max-width: 100%;
}
@media(min-width: 320px) {
  .preloader {
    position: relative;
    width: 20%;
    margin-top: -71px;
    left: 58px;
    top: -18px;
  }
}

@media (min-width: 660px) {
  .preloader {
    position: relative;
    width: 20%;
    margin-top: -82px;
    left: 58px;
    top: -7px;
  }
}
