@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Regular.woff2') format('woff2'),
    url('AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Italic.woff2') format('woff2'),
    url('AvenirNext-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Bold.woff2') format('woff2'),
    url('AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Demi';
    src: url('AvenirNext-DemiBold.woff2') format('woff2'),
    url('AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next bolder';
    src: url('AvenirNext-Medium.woff2') format('woff2'),
    url('AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
