#app
  min-height 100vh
.app
  min-height 100vh
  display flex
  flex-direction column
  align-items center
  height 100%
  &__head
    flex 1
    background #14052E
  &__tail
    flex 1
    background #120D36
