<!DOCTYPE html>
<html lang="en">
<head>
    ${require('./../common-templates/head')}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cyberpunk landing</title>
</head>
<body>
${require('./../common-templates/noscripts')}
<main class="main_content" id="target" role="main">
    <script id="template" type="text/x-handlebars-template">
        <div class="header" role="heading">
            <div class="header-content">
                <div class="triangle-container">
                    <svg class="triangle triangle-white triangle--mobile" width="66.69" height="77.49">
                        <polygon points="0,0 66.69,38.74 0,77.49"/>
                    </svg>
                    <svg class="triangle triangle-pink triangle--mobile" width="66.69" height="77.49">
                        <polygon points="0,0 66.69,38.74 0,77.49"/>
                    </svg>
                    <svg class="triangle triangle-green triangle--mobile" width="66.69" height="77.49">
                        <polygon points="0,0 66.69,38.74 0,77.49"/>
                    </svg>
                    <svg class="triangle triangle-blue triangle--mobile" width="66.69" height="77.49">
                        <polygon points="0,0 66.69,38.74 0,77.49"/>
                    </svg>
                    <svg class="triangle triangle-pink triangle-pink--last triangle--mobile" width="85" height="100">
                        <polygon points="0,0 85,50 0,100"/>
                    </svg>
                    <svg class="triangle triangle-white triangle--tablet" width="108" height="115.2">
                        <polygon points="0,0 108,57.6 0,115.2"/>
                    </svg>
                    <svg class="triangle triangle-pink triangle--tablet" width="108" height="115.2">
                        <polygon points="0,0 108,57.6 0,115.2"/>
                    </svg>
                    <svg class="triangle triangle-green triangle--tablet" width="108" height="115.2">
                        <polygon points="0,0 108,57.6 0,115.2"/>
                    </svg>
                    <svg class="triangle triangle-blue  triangle--tablet" width="108" height="115.2">
                        <polygon points="0,0 108,57.6 0,115.2"/>
                    </svg>
                    <svg class="triangle triangle-pink triangle-pink--last triangle--tablet" width="108" height="130.2">
                        <polygon points="0,0 108,65.1 0,130.2"/>
                    </svg>
                </div>
                <picture>
                    <source media="(min-width: 0px)" srcset="${require('./images/YOURBET-header.png')} 1x">
                    <img class="mobile-logo" srcset='../src/images/YOURBET-header.png' alt="main-logo">
                </picture>
                <!--<h1 class="header-text">{{dialogPart1}}</h1>-->
            </div>
        </div>
        <div class="content-area">
            <div class="content-area-wrapper">
                <div class="modal-block">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="320"
                         height="517" viewBox="0 0 320 517" id="img--svg-border-mobile">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fbced0;
                                    fill-rule: evenodd;
                                    filter: url(#filter1);
                                }
                            </style>
                            <filter id="filter1" x="4059" y="3631" width="362" height="517"
                                    filterUnits="userSpaceOnUse">
                                <feGaussianBlur result="blur" stdDeviation="8" in="SourceAlpha"/>
                                <feComposite result="composite"/>
                                <feComposite result="composite-2"/>
                                <feComposite result="composite-3"/>
                                <feFlood result="flood" flood-color="#db3c42" flood-opacity="0.57"/>
                                <feComposite result="composite-4" operator="in" in2="composite-3"/>
                                <feBlend result="blend" in2="SourceGraphic"/>
                                <feBlend result="blend-2" in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <path class="cls-1"
                              d="M4110.31,4032.04c-0.08-.07,3.63,82.57,3.63,82.57h260l13-450.44H4091.6s1.76,57.49,1.61,57.78c-0.03.04-7.15-.26-7.17,0.61-0.01.12-1.84-61.79-1.84-61.79a3.591,3.591,0,0,1,3.59-3.79h302.87a3.587,3.587,0,0,1,3.59,3.71l-13.24,457.64a3.591,3.591,0,0,1-3.59,3.48H4110.54a3.59,3.59,0,0,1-3.59-3.4s-3.44-85.85-3.38-86.46"
                              transform="translate(-4081 -3631)"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="455"
                         height="506" viewBox="0 0 455 506" id="img--svg-border-desktop">
                        <defs>
                            <style>
                                .cls-8 {
                                    fill: #fbced0;
                                    fill-rule: evenodd;
                                    filter: url(#filter8);
                                }
                            </style>
                            <filter id="filter8" x="3129" y="4911" width="455" height="506"
                                    filterUnits="userSpaceOnUse">
                                <feGaussianBlur result="blur" stdDeviation="8" in="SourceAlpha"/>
                                <feComposite result="composite"/>
                                <feComposite result="composite-2"/>
                                <feComposite result="composite-3"/>
                                <feFlood result="flood" flood-color="#db3c42" flood-opacity="0.57"/>
                                <feComposite result="composite-4" operator="in" in2="composite-3"/>
                                <feBlend result="blend" in2="SourceGraphic"/>
                                <feBlend result="blend-2" in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <path class="cls-8"
                              d="M3180.74,5311.09c-0.09-.06,3.62,72.56,3.62,72.56h352.63l12.99-440.36H3162.04s1.76,57.48,1.6,57.77c-0.02.04-7.14-.27-7.16,0.61,0,0.12-1.83-61.78-1.83-61.78a3.625,3.625,0,0,1,.98-2.67,3.577,3.577,0,0,1,2.61-1.12h395.45a3.587,3.587,0,0,1,3.59,3.71l-13.22,447.56a3.6,3.6,0,0,1-3.59,3.48H3180.96a3.6,3.6,0,0,1-3.59-3.4s-3.44-75.83-3.37-76.45"
                              transform="translate(-3129 -4911)"/>
                    </svg>
                    <div class="bonus-block">
                        <h2 class="bonus-block__descr">{{modalHeader}}</h2>
                    </div>
                    <div class="modal">
                        <form class="modal-body" name="form" method="post"
                              onsubmit="event.preventDefault();sendForm.send();">
                            <div class="input-wrapper">
                                <div class="achievement-blocks">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="349" height="546" viewBox="0 0 349 546" id="bg-frame-blue-mobile">
                                        <defs>
                                            <style>
                                                .cls-6 {
                                                    fill: #beeafb;
                                                    fill-rule: evenodd;
                                                    filter: url(#filter6);
                                                }
                                            </style>
                                            <filter id="filter6" x="4063" y="3617" width="370" height="546"
                                                    filterUnits="userSpaceOnUse">
                                                <feGaussianBlur result="blur" stdDeviation="8" in="SourceAlpha"/>
                                                <feComposite result="composite"/>
                                                <feComposite result="composite-2"/>
                                                <feComposite result="composite-3"/>
                                                <feFlood result="flood" flood-color="#16dde9" flood-opacity="0.57"/>
                                                <feComposite result="composite-4" operator="in" in2="composite-3"/>
                                                <feBlend result="blend" in2="SourceGraphic"/>
                                                <feBlend result="blend-2" in="SourceGraphic"/>
                                            </filter>
                                        </defs>
                                        <path id="Shape_2_copy_2" data-name="Shape 2 copy 2" class="cls-6"
                                              d="M4399.89,3767.04h-0.07a3.6,3.6,0,0,1-3.52-3.67c0.45-23.27,3.34-113.95,3.36-114.09-0.07.1-34.03,0.09-34.21,0.05-1.93-.43-3.62-1.56-3.65-3.54a3.6,3.6,0,0,1,3.54-3.65c12.77-.2,25.58-0.2,38.08,0a2.922,2.922,0,0,1,.51.04c0.07,0.01.14,0.02,0.2,0.03a3.6,3.6,0,0,1,2.88,3.61v0.08c-0.01-.01-3.05,93.29-3.52,117.61A3.6,3.6,0,0,1,4399.89,3767.04Zm-308.28,244.89h0.07a3.588,3.588,0,0,1,3.51,3.67c-0.45,23.27,5.68,113.95,5.66,114.09,0.07-.1,33.91-0.09,34.09-0.05,1.93,0.43,3.61,1.55,3.64,3.54a3.588,3.588,0,0,1-3.53,3.65c-12.72.2-25.49,0.2-37.95,0a3,3,0,0,1-.51-0.04c-0.06-.01-0.13-0.02-0.2-0.03a3.6,3.6,0,0,1-2.86-3.61v-0.08c0,0.01-5.97-93.3-5.5-117.61A3.592,3.592,0,0,1,4091.61,4011.93Z"
                                              transform="translate(-4081 -3617)"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="503" height="582" viewBox="0 0 503 582" id="bg-frame-blue-desktop">
                                        <defs>
                                            <style>
                                                .cls-11 {
                                                    fill: #beeafb;
                                                    fill-rule: evenodd;
                                                    filter: url(#filter11);
                                                }
                                            </style>
                                            <filter id="filter11" x="3110" y="4876" width="503" height="582"
                                                    filterUnits="userSpaceOnUse">
                                                <feGaussianBlur result="blur" stdDeviation="8" in="SourceAlpha"/>
                                                <feComposite result="composite"/>
                                                <feComposite result="composite-2"/>
                                                <feComposite result="composite-3"/>
                                                <feFlood result="flood" flood-color="#16dde9" flood-opacity="0.57"/>
                                                <feComposite result="composite-4" operator="in" in2="composite-3"/>
                                                <feBlend result="blend" in2="SourceGraphic"/>
                                                <feBlend result="blend-2" in="SourceGraphic"/>
                                            </filter>
                                        </defs>
                                        <path id="Shape_2_copy_2" data-name="Shape 2 copy 2" class="cls-11"
                                              d="M3579.9,5026.14h-0.07a3.6,3.6,0,0,1-3.52-3.67c0.45-23.26,3.34-113.92,3.36-114.07-0.07.1-33.99,0.09-34.17,0.05-1.94-.43-3.62-1.55-3.65-3.54a3.6,3.6,0,0,1,3.54-3.65c12.75-.2,25.55-0.2,38.03,0a4.731,4.731,0,0,1,.52.04,1.766,1.766,0,0,1,.2.04,3.586,3.586,0,0,1,2.87,3.61v0.07c-0.01-.01-3.05,93.28-3.52,117.59A3.6,3.6,0,0,1,3579.9,5026.14Zm-440.83,279.85h0.07a3.586,3.586,0,0,1,3.51,3.66c-0.45,23.27,5.68,113.93,5.66,114.07,0.06-.1,33.87-0.09,34.05-0.05,1.93,0.43,3.6,1.56,3.63,3.54a3.579,3.579,0,0,1-3.52,3.65c-12.71.2-25.46,0.2-37.91,0a2.922,2.922,0,0,1-.51-0.04l-0.2-.03a3.6,3.6,0,0,1-2.86-3.61v-0.08c0.01,0.01-5.96-93.28-5.49-117.59A3.581,3.581,0,0,1,3139.07,5305.99Z"
                                              transform="translate(-3110 -4876)"/>
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="320" height="407" viewBox="0 0 320 407" id="black-bg-mobile">
                                        <defs>
                                            <style>
                                                .cls-4 {
                                                    fill-rule: evenodd;
                                                    filter: url(#filter-4);
                                                }
                                            </style>
                                            <filter id="filter-4" x="4039" y="3676" width="403" height="407"
                                                    filterUnits="userSpaceOnUse">
                                                <feGaussianBlur result="blur" stdDeviation="14.333" in="SourceAlpha"/>
                                                <feComposite result="composite"/>
                                                <feComposite result="composite-2"/>
                                                <feComposite result="composite-3"/>
                                                <feFlood result="flood" flood-color="#70018d" flood-opacity="0.36"/>
                                                <feComposite result="composite-4" operator="in" in2="composite-3"/>
                                                <feBlend result="blend" in2="SourceGraphic"/>
                                                <feBlend result="blend-2" in="SourceGraphic"/>
                                            </filter>
                                        </defs>
                                        <path class="cls-4" d="M4390.05,4038.01l-297.37-6.34-9.67-309.72,314-1.96Z"
                                              transform="translate(-4081 -3676)"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="509" height="407" viewBox="0 0 509 407" id="black-bg-desktop">
                                        <defs>
                                            <style>
                                                .cls-10 {
                                                    fill-rule: evenodd;
                                                    filter: url(#filter10);
                                                }
                                            </style>
                                            <filter id="filter10" x="3104" y="4955" width="509" height="407"
                                                    filterUnits="userSpaceOnUse">
                                                <feGaussianBlur result="blur" stdDeviation="14.333" in="SourceAlpha"/>
                                                <feComposite result="composite"/>
                                                <feComposite result="composite-2"/>
                                                <feComposite result="composite-3"/>
                                                <feFlood result="flood" flood-color="#70018d" flood-opacity="0.36"/>
                                                <feComposite result="composite-4" operator="in" in2="composite-3"/>
                                                <feBlend result="blend" in2="SourceGraphic"/>
                                                <feBlend result="blend-2" in="SourceGraphic"/>
                                            </filter>
                                        </defs>
                                        <path class="cls-10" d="M3557.03,5317l-393.36-6.34L3148,5000.96l420-1.96Z"
                                              transform="translate(-3104 -4955)"/>
                                    </svg>
                                    <div class="achievements-container">
                                        <div class="achievement-block">
                                            <picture>
                                                <img srcset="${require('./images/coins-mobile.png')} 1x, ${require('./images/coins@2x.png')} 2x"
                                                     class="icon-coin">
                                            </picture>
                                            <!--<img src="${require('./images/coins-mobile.png')}" class="icon-coin">-->
                                            <h1 class="achievement-block__header">{{modalAchievementOne}}</h1>
                                            <p class="achievement-block__descr">{{modalAchievementOneDescr}}</p>
                                        </div>
                                        <div class="achievement-block">
                                            <picture class="slots-container">
                                                <!--<source media="(min-width: 960px)" srcset="img/photo-car-desktop@1x.jpg 1x, img/photo-car-desktop@2x.jpg 2x"-->
                                                <!--alt="Фотография пользователя">-->
                                                <!--<source media="(min-width: 660px)" srcset="img/photo-car-tablet@1x.jpg 1x, img/photo-car-tablet@2x.jpg 2x"-->
                                                <!--alt="Фотография пользователя">-->
                                                <img srcset="${require('./images/automate-mobile.png')} 1x, ${require('./images/slots@2x.png')} 2x"
                                                     class="icon-coin">
                                            </picture>
                                            <h1 class="achievement-block__header">{{modalAchievementTwo}}</h1>
                                            <p class="achievement-block__descr">{{modalAchievementTwoDescr}}</p>
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <div class="form__input-error__text form__input-error__text--email-error"></div>
                                        <input id="email" class="user-address" type="email" name="email" required
                                               placeholder='{{emailField}}'>
                                        <button type="submit" class="button-modal registration-link reg-submit"
                                                id="reg-button">
                                            <p class="btn-descr">{{modalButton}}</p>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="285" height="90"
                                                 viewBox="0 0 285 90" id="rectangle-pink-mobile">
                                                <defs>
                                                    <style>
                                                        .cls-3 {
                                                            fill: #ff0054;
                                                            fill-rule: evenodd;
                                                            filter: url(#filter3);
                                                        }
                                                    </style>
                                                    <filter id="filter3" x="4086" y="3921" width="285" height="90"
                                                            filterUnits="userSpaceOnUse">
                                                        <feGaussianBlur result="blur" stdDeviation="8"
                                                                        in="SourceAlpha"/>
                                                        <feComposite result="composite"/>
                                                        <feComposite result="composite-2"/>
                                                        <feComposite result="composite-3"/>
                                                        <feFlood result="flood" flood-color="#d25aba"
                                                                 flood-opacity="0.39"/>
                                                        <feComposite result="composite-4" operator="in"
                                                                     in2="composite-3"/>
                                                        <feBlend result="blend" in2="SourceGraphic"/>
                                                        <feBlend result="blend-2" in="SourceGraphic"/>
                                                    </filter>
                                                </defs>
                                                <path id="rectangle-pink" data-name="rectangle-pink" class="cls-3"
                                                      d="M4103,3928h258l-1,59.01-255-5Z"
                                                      transform="translate(-4086 -3921)"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="377" height="117"
                                                 viewBox="0 0 377 117" id="rectangle-pink-desktop">
                                                <defs>
                                                    <style>
                                                        .cls-12 {
                                                            fill: #ff0054;
                                                            fill-rule: evenodd;
                                                            filter: url(#filter12);
                                                        }
                                                    </style>
                                                    <filter id="filter12" x="3171" y="5201" width="377" height="117"
                                                            filterUnits="userSpaceOnUse">
                                                        <feGaussianBlur result="blur" stdDeviation="8"
                                                                        in="SourceAlpha"/>
                                                        <feComposite result="composite"/>
                                                        <feComposite result="composite-2"/>
                                                        <feComposite result="composite-3"/>
                                                        <feFlood result="flood" flood-color="#d25aba"
                                                                 flood-opacity="0.39"/>
                                                        <feComposite result="composite-4" operator="in"
                                                                     in2="composite-3"/>
                                                        <feBlend result="blend" in2="SourceGraphic"/>
                                                        <feBlend result="blend-2" in="SourceGraphic"/>
                                                    </filter>
                                                </defs>
                                                <path id="Rectangle_7_copy" data-name="Rectangle 7 copy" class="cls-12"
                                                      d="M3196,5226h326l-1,66-323-5Z"
                                                      transform="translate(-3171 -5201)"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="checkbox-block">
                                    <div class="form__input-wrapper">
                                        <span class="form__terms-label-error__text  form__terms-label-error__text--checkbox left-self"></span>
                                        <input type="checkbox" class="checkbox" id="checkbox" name="checkbox"
                                               checked>
                                        <label for="checkbox" class="checkbox-label form__terms-label">{{termsIagree}}
                                            <a class="terms-link"
                                               href="https://yourbet.com/en/pages/terms-and-conditions"
                                               target="_blank">{{termsHref}}</a> {{termsAnd}} <a class="terms-link"
                                                                                                 href="https://yourbet.com/en/pages/privacy-policy"
                                                                                                 target="_blank">{{termsPrivacyPolicy}}.</a>{{termsCitizen}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <footer class="main-footer">
                    <div class="bubble-block">
                        <p class="bubble-phrase">{{dialogPart2}} {{dialogPart3}} {{dialogPart4}}</p>
                    </div>
                    <!--<picture>-->
                        <img src="${require('./images/girl-desktop-2.png')}" srcset="${require('./images/girl-desktop-2.png')} 1x, ${require('./images/girl-desktop-2@2x.png')} 2x" class="girl-background-desktop">
                    <!--</picture>-->
                    <!--<img src="${require('./images/girl-desktop-2.png')}" class="girl-background-desktop">-->
                </footer>
            </div>
        </div>
        <div id="modal" class="modal-window" tabindex="-1">
            <div class="modal-frame">
                <h4 class="modal-text
                modal-header">{{popupHeader}}</h4>
                <div class="modal-text-container">
                    <p class="modal-text modal-text--proof">{{popupEmailProof}}</p>
                    <p class="modal-email">
                        <span></span>
                    </p>
                    <p class="modal-text modal-text-proof">{{popupField}}</p>
                    <a id="redirect-href" href="https://yourbet.com"
                       class="form__button modal__button"><p class="redirect-text">{{popupButton}}</p></a>
                </div>
            </div>
        </div>
    </script>
</main>
</body>
</html>