@import "variables.styl"

body
  background-color #000000
  font-family 'Glober', Arial, sans-serif
  color #fff
  font-style italic

.visually-hidden, .hidden
  display none

.main_content
  background-image url('images/bg-mobile.jpg')
  background-size cover
  background-color #000
  overflow hidden
  @media  only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx)  and (min-width: 320px)
      background-image url("images/bg-retina-mobile@2x.jpg")
      background-size 100% 100%
  /* Small screen, retina, stuff to override above media query */

  @media(min-width tablet)
    background-image url('images/bg-ipad.jpg')
  @media(min-width desktop)
    background-image url("images/bg-desktop.jpg")
    height 100vh
    background-size cover

.header-content
  text-align center
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding-top 16px

.header-text
  color #fff
  font-weight: normal

.mobile-logo
  width 178px
  position absolute
  top 53px
  left 8px
  margin-left auto
  margin-right auto
  right 0
  z-index 10
  @media(min-width tablet)
    width 258px
    top 56px
    left 16px

.bonus-block
  display flex
  flex-direction column
  justify-content center
  align-items center
  &__descr
    font-size 14px
    color: rgb(190, 234, 251);
    white-space nowrap
    font-weight: 600
    text-transform uppercase
    @media(min-width desktop)
      font-size 18px
.achievement-blocks
  position relative
.achievements-container
  display flex
  max-width 252px
  margin 0 auto
  padding-top 21px
  justify-content space-between
  @media(min-width desktop)
    max-width 66%

.achievement-block
  display flex
  flex-direction column
  line-height 23px
  position relative
  &__header
    font-size 20px
    text-align center
    font-weight 600
    text-align center
    text-transform uppercase
    margin 3px 0
    @media(min-width desktop)
      white-space nowrap
  &__descr
    font-size 14px
    font-weight normal
    //white-space nowrap

    text-align center
    line-height 13px
#black-bg-mobile,
#black-bg-desktop
  position absolute
  top -28px
  left 0
  right 0
  margin-left auto
  margin-right auto
#black-bg-mobile
  @media(min-width desktop)
    display none
#black-bg-desktop
  display none
  @media(min-width desktop)
    display block
    left -42px
    top -31px
.modal
  margin 0 auto
  height auto
  z-index 4

.input-wrapper
  width 100%
  //background #000
  position relative

.input-container, .modal-footer
  margin 0 auto
  display flex
  justify-content center
  align-items center
  z-index 10
  flex-direction column
  max-width 320px

.input-container
  padding-top 0
  width 80%
  margin-top 8px
  @media (min-width tablet)
    width 80%
  @media (min-width desktop)
    padding-top 1%

.user-address
  padding 19px 0 15px 0
  text-align center
  width 257px
  background-color #ececec
  color #3f3f3f
  text-transform uppercase
  border 1px solid #ececec
  z-index 15
  margin-bottom 0
  &:focus
    border-radius 10px
  @media (min-width tablet)
    font-size 20px
  @media(min-width desktop)
    padding 16px 0 10px 0
    width 320px
.content-area
  @media(min-width desktop)
    padding-top 36px
  //@media(min-width tablet)
  //  height 100vh

.content-area-wrapper
  display flex
  flex-direction column
  align-items center
  @media(min-width tablet)
    flex-direction row
    justify-content space-around
    max-width 960px
  @media(min-width desktop)
    max-width 968px
    //padding-top 66px
    //max-width 700px
    margin 0 auto
  @media (min-width 1920px)
    margin-top 2%
    max-width 1200px

.button-modal
  width 257px
  font-size 18px
  color #fff
  text-transform uppercase
  border-radius 10px
  border none
  z-index 20

  //box-shadow: 0 26px 65.28px 2.72px rgba(49, 85, 2, 0.22);
  @media (min-width tablet)
    font-size 20px
    padding 21px
  //&:hover
  //  background:
  //  border none
  //&:active
  //  background:
  //  border none

.terms-link
  color inherit

.checkbox-block
  padding-top 0
  padding-bottom 10px
  padding-left 40px
  padding-right 40px
  margin-top 0
  z-index 10
  @media (min-width tablet)
    padding-top 0
  @media (min-width desktop)
    //padding-top 20px
    //padding-bottom 20px
    padding 0
    margin-top 6%
.triangle
  //width 70%
  position absolute
  transform rotate(90deg)
  z-index 20
  left 0
  right 0
  margin-left auto
  margin-right auto
  top 0
.triangle-white
  fill transparent
  stroke #fff
  stroke-width 2px
  stroke-linecap: round;
  z-index 6
  top 4px
  left 1px
  //filter drop-shadow(30px 10px 4px #4444dd)
.triangle-pink
  fill transparent
  stroke rgba(154, 31, 127, 100)
  stroke-width 3px
  top 4px
  left -14px
  //opacity 0.6
  stroke-linecap: round;
  z-index 3
  @media(min-width tablet)
    left -12px
.triangle-green
  fill transparent
  stroke rgba(86, 142, 120, 100)
  stroke-width 2px
  top 4px
  left -17px
  //opacity 0.6
  stroke-linecap: round;
  z-index 2
.triangle-blue
  fill transparent
  stroke rgba(60, 74, 147, 100)
  stroke-width 2px
  top 4px
  left -22px
  //opacity 0.6
  stroke-linecap: round;
  z-index 1
.triangle-container
  position relative
  width 287px
  height 70px
  margin 20px auto
  @media(min-width tablet)
    height 117px
.triangle-container:after
  @media(min-width 0px)
    content ''
    background-image url("images/logo-320-2.png")
    background-repeat no-repeat
    width 101px
    height 27px
    position absolute
    z-index 20
    left 0
    right 0
    margin-left auto
    margin-right auto
    top 43px
  @media  only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx)  and (min-width: 320px)
    background-image url("images/letsplay-retina@2x.png")
    background-size cover
    background-position 0 -12px
    height 38px
  @media(min-width tablet)
    background-image url("images/logo-2.png")
    width 154px
    height 40px
    top 58px
.triangle-container:before
  content ''
  background-image url("images/triangle-logo.png")
  background-repeat no-repeat
  width 80px
  height 70px
  position absolute
  z-index 5
  margin-left auto
  margin-right auto
  top 9px
  left 0
  right 0
  bottom 0
  @media(min-width tablet)
    background-image url("images/logo-big.png")
    width 121px
    height 104px
.triangle-pink--last
  z-index 0
  left -8px
  top -4px
  stroke-width 13px
  filter: blur(8px)
  @media(min-width tablet)
    stroke-width 32px
    filter blur(10px)
    top -12px
.hidden-frame
  fill pink
.modal-block
  position relative
  margin-top 55px
  @media(min-width tablet)
    order: 2
    margin-top 88px
    margin-bottom auto
    margin-left 15px
    margin-right 30px
  @media(min-width desktop)
    margin-top 0
    width 409px
    padding-top 59px
    margin-top 0
#img--svg-border-mobile,
#img--svg-border-desktop
  position absolute
  right 0
  top -59px
  left 0
  margin-left auto
  margin-right auto
  z-index 1
#img--svg-border-mobile
  @media(min-width desktop)
    display none
#img--svg-border-desktop
  display none
  @media(min-width desktop)
    display block
    left -16px
    top -2px
.icon-coin
  width 97px
  height 84px
.reg-submit
  position relative
  height 90px
  padding 0
  background transparent
  z-index 15
.bubble-block
  margin 0 auto
  height 100%
  width 100%
  position relative
  @media(min-width tablet)
    height 243px
    display flex
    flex-direction column
    justify-content center
    margin-left 30px
  @media(min-width desktop)
    width 427px
    height 175px
    top -14%
    left 14%
  &:before
    content ''
    width 297px
    height 195px
    background-image url("images/bubble-mobile.png")
    position absolute
    top -40px
    margin-left auto
    margin-right auto
    left 0
    right 0
    @media(min-width tablet)
      background-image url("images/bubble-ipad.png")
      width 318px
      height 231px
      top 12px
    @media(min-width desktop)
      background-image url("images/bubble-desktop.png")
      width 428px
      height 203px
      top -13px


  //&::before
  //  content ''
  //  //background-image url("images/rectangle-pink.svg")
  //  width 100%
  //  height 100%
  //  position absolute
  //  padding 0
  //  top 0
  //  left 0
  //  right 0
  //  z-index 1
  //  margin-right auto
  //  margin-left auto
#rectangle-pink-mobile, #rectangle-pink-desktop
  position absolute
  margin-left auto
  margin-right auto
  left -17px
  right 0
  top 0
#rectangle-pink-mobile
  @media(min-width desktop)
    display none
#rectangle-pink-desktop
  display none
  @media(min-width desktop)
    display block
    left -57px
    top -8px
.btn-descr
  position absolute
  margin-left auto
  margin-right auto
  font-weight: 800;
  z-index 1
  left 0
  top 29%
  right 0
  @media(min-width desktop)
    top 43%
.achievement-block:nth-child(1)
  margin-right 9%

.icon-coin--automate
  margin-left  auto
  margin-right auto
  //@media(min-width desktop)
  //  margin-left auto
  //  margin-right auto
.main-footer
  height 443px
  width 100%
  display flex
  position relative
  flex-direction column
  padding-top 20%
  max-width 320px
  @media (min-width tablet)
    height 857px
    margin-top 0
    margin-right auto
    padding-top 41px
  @media(min-width desktop)
    width auto
    max-width 400px
    height auto
    margin-top auto
    padding-top 0
  //@media(min-width 1920px)
  //  height 803px

.main-footer:before
  content ''
  position absolute
  background-image url("images/girl-mobile.png")
  width 257px
  height 338px
  top auto
  bottom 0
  background-repeat no-repeat
  @media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 320px),only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx)  and (min-width: 320px)
    background-image url("images/girl_2x.png")
    background-size 100% 100%


  @media(min-width tablet)
    background-image url("images/girl-ipad.png")
    width 367px
    bottom 0
    height 684px
  @media(min-width desktop)
    background-image none
    //background-image url("images/girl-desktop-2.png")
    //width 421px
    //height 580px
  //@media(min-width 1920px)
  //  background-image url("images/girl-1920.png")
  //  width 421px
  //  height 803px

.bubble-phrase
  position absolute
  width 200px
  left 0
  right 0
  text-transform uppercase
  margin-left auto
  font-size 16px
  font-weight: 600
  padding-top 4px
  padding-bottom 4px
  text-align center
  margin-right auto
  margin-left auto
  @media(min-width tablet)
    width 246px
    line-height 23px
    padding-top 25px
    padding-bottom 25px
    padding-left 20px
    padding-right 20px
  @media(min-width desktop)
    font-size 18px
    width 346px
    padding-left 40px
    padding-right 41px
    padding-top 3%
    padding-left 25px
.modal-window
  display none
#bg-frame-blue-mobile, #bg-frame-blue-desktop
  position absolute
  top -89px
  left -1px
  z-index 10
#bg-frame-blue-mobile
  @media(min-width desktop)
    display none
#bg-frame-blue-desktop
  display none
  @media(min-width desktop)
    display block
    top -108px
    left -33px
.form__terms-label-error
  color: red
  font-weight 300
  font-size 12px
.form__terms-label-error__text--checkbox
  position absolute
  top -26px

.form__input-wrapper
  position relative
.form__input-error__text--email-error
  margin-right auto
  z-index 11
.triangle--mobile
  display block
  @media(min-width tablet)
    display none
.triangle--tablet
  display none
  @media(min-width tablet)
    display block
.img--mobile
  @media(min-width tablet)
    display none
.modal-body
  @media(min-width desktop)
    width 420px
    display flex
    flex-direction column
    justify-content center
.modal-window
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding: 0 10px
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    visibility: hidden
    opacity: 0
    display: flex
    justify-content: center
    z-index 10

.open
  visibility: visible
  opacity: 1
  z-index 50


.modal-frame
  height 454px
  background: transparent
  width: 450px
  position: relative
  transition: all 500ms ease-in-out;
  align-self: center
  text-align: center
  line-height 40px
  h4
    font-size 28px
    font-weight bold
    padding-top 26px
.modal-frame:before
  content ''
  background-image url("images/red-border-mobile.png")
  width 320px
  height 443px
  position absolute
  top -22px
  left -9px
  right 0
  margin-left auto
  margin-right auto
  z-index 1
  @media(min-width tablet)
    background-image url("images/border-desktop.png")
    width 447px
    height 450px
.modal-frame:after
  content ''
  background-image url("images/border-blue-mobile.png")
  width 369px
  height 473px
  position absolute
  top -38px
  left 0
  right 0
  margin-left auto
  margin-right auto
  z-index 100
  @media(min-width tablet)
    background-image url("images/blue-frame-desktop.png")
    width 94px
    height 168px
    top auto
    right auto
    bottom 9px
    left -17px
.modal-title
  color: #D6A336;
  font-size: 26.255px
  margin-bottom: 40px
  font-weight: bold

.modal-text
  color: #fff
  font-size 18px
  line-height normal
  z-index 10

.modal-email
  color: #fff
  font-weight 800
  margin-bottom: 20px
  @media(min-width tablet)
    font-size 21px


.modal-email button
  display: inline-block
  color: #D6A336
  margin: 10px
  padding: 0
  cursor: pointer
  user-select: none
  border: 0
  background: none
  font: inherit
  line-height: normal

.modal__button
  width: 320px
  height 110px
  position relative
  display: block
  font-weight: bold
  line-height: 50px
  margin 0 auto
  color: #ffffff
  text-decoration: none
  border-radius 10px
  background: transparent
  z-index 150
  @media(min-width tablet)
    width 400px
    font-size 25px
  &:before
    content ''
    width 302px
    height 110px
    position absolute
    bottom 0
    left 0
    right 0
    margin-left auto
    margin-right auto
    z-index -1
    background-image url("images/rectangle-pink-mobile.png")
    background-repeat no-repeat
    @media(min-width tablet)
      background-image url("images/pink-rectangle-desktop.png")
      width 370px
      height 110px
.modal-header
  font-size 17px
  font-weight 800
  color: rgb(190, 234, 251);
  @media(min-width tablet)
    font-size 21px
.modal-text-container
  position relative
  display flex
  flex-direction column
  justify-content center
  z-index 200
  height auto
  padding-top 28px
  padding-left 30px
  padding-right 30px
  @media(min-width tablet)
    padding-top 45px
    z-index 2
.modal-text-container::before
  content ''
  background-image url("images/bg-black-mobile.png")
  width 320px
  height 377px
  position absolute
  top -37px
  left -9px
  right 0
  margin-left auto
  margin-right auto
  z-index 1
  @media(min-width tablet)
    background-image url("images/bg-black-desktop.png")
    width 498px
    height 397px
    left -29px
.modal-text-proof
  margin-top 5%
  @media(min-width tablet)
    margin-top 20px
.modal-text-proof, .modal-text--proof
  padding-left 30px
  padding-right 30px
.redirect-text
  margin-top 30px
  color #ffffff
  font-weight 800
.modal-email
  color #ffffff
  text-transform uppercase
  z-index 20
  margin-top 20px
  margin-bottom 0
.slots-container
  width 92px
  margin-left auto
  margin-right auto
.girl-background-desktop
  display none
  @media(min-width desktop)
    display block
    width 289px
    height 752px
    margin-top -14%
    margin-left auto