<!DOCTYPE html>
<html lang="en">
<head>
    ${require('./../common-templates/head')}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Betting yourbet</title>
</head>
<body>
${require('./../common-templates/noscripts')}
<main class="main_content" id="target" role="main">
    <script id="template" type="text/x-handlebars-template">
        <div class="wrapper">
            <div class="header" role="heading">
                <div class="header-content">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="${require('./images/logo-yourbet-desktop.png')} 1x">
                        <source media="(min-width: 660px)" srcset="${require('./images/yourbet-ipad.png')} 1x">
                        <source media="(min-width: 320px)" srcset="${require('./images/logo-yourbet.png')} 1x">
                        <img class="mobile-logo" srcset='../src/images/logo-yourbet.png' alt="main-logo">
                    </picture>
                    <h2 class="header-content__descr">{{header}} {{headerDescr}}</h2>
                    <h3 class="bonus-block__descr">&euro;/$ 555 {{modalHeader}}</h3>
                </div>
            </div>
                <div class="steps-block">
                    <div class="steps-block-wrapper">
                        <h3 class="steps-block__header">{{getStartedTitle}}</h3>
                        <ul class="steps-list">
                            <li class="steps-list__item steps-list__item--one"><p class="steps-text">
                                {{mainContentDescrOne}}</p>
                            </li>
                            <li class="steps-list__item steps-list__item--arrow-desktop"></li>
                            <li class="steps-list__item steps-list__item--two"><p class="steps-text">
                                {{mainContentDescrTwo}}</p>
                                <p class="steps-text-descr">{{mainContentDescrTwoDescr}}</p></li>
                            <li class="steps-list__item steps-list__item--arrow-desktop"></li>
                            <li class="steps-list__item steps-list__item--last-child"><p class="steps-text">
                                {{mainContentDescrThree}}</p>
                                <p class="steps-text-descr">{{mainContentDescrThreeDescr}}</p></li>
                        </ul>
                    </div>
                </div>
                <div class="content-area">
                    <div class="content-area-wrapper">
                        <div class="modal-block">
                            <!--<div class="bonus-block">-->
                            <!--</div>-->
                            <div class="modal">
                                <div class="modal-header">
                                    <h2 class="modal-header__title modal-header__title--success visually-hidden">Успешно
                                        отправлено</h2>
                                </div>
                                <form class="modal-body" name="form" method="post"
                                      onsubmit="event.preventDefault();sendForm.send();">
                                    <div class="form__input-error__text form__input-error__text--email"></div>
                                    <div class="form-container">
                                    <input id="email" class="user-address" type="email" name="email" required
                                           placeholder='{{placeholder}}'>
                                        <button type="submit" class="button-modal registration-link reg-submit"
                                                id="reg-button">
                                            {{modalButton}}
                                        </button>
                                    </div>
                                        <div class="checkbox-block">
                                            <div class="form__input-wrapper">
                                                <span class="form__terms-label-error__text left-self"></span>
                                                <input type="checkbox" class="checkbox" id="checkbox" name="checkbox"
                                                       checked>
                                                <label for="checkbox" class="checkbox-label form__terms-label">{{termsIagree}}
                                                    <a class="terms-link"
                                                       href="https://yourbet.com/en/pages/terms-and-conditions"
                                                       target="_blank">{{termsHref}}</a> {{termsAnd}}
                                                    <a class="terms-link"
                                                       href="https://yourbet.com/en/pages/privacy-policy"
                                                       target="_blank">{{termsPrivacyPolicy}}.</a>{{termsCitizen}}
                                                </label>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    <div class="achievements-block">
                        <div class="achievements-block-wrapper">
                            <div class="achievment-item achievment-item--one">
                                <div class="text-wrapper">
                                    <h4 class="achievment-item__header">{{achievmentOneHeader}}</h4>
                                    <p class="achievment-item__descr">{{achievmentOneDescr}}</p>
                                </div>
                            </div>
                            <div class="achievment-item achievment-item--two">
                                <div class="text-wrapper">
                                    <h4 class="achievment-item__header">{{achievmentTwoHeader}}</h4>
                                    <p class="achievment-item__descr">{{achievmentTwoDescr}}</p>
                                </div>
                            </div>
                            <div class="achievment-item achievment-item--last-child">
                                <div class="text-wrapper text-wrapper--last-child">
                                    <h4 class="achievment-item__header">{{achievmentThreeHeader}}</h4>
                                    <p class="achievment-item__descr">{{achievmentThreeDescr}}</p>
                                    <p class="achievment-item__descr">{{achievmentThreeDescr2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div id="modal" class="modal-window" tabindex="-1">
            <div class="modal-frame">
                <h4 class="modal-text
                modal-window-header">{{popupHeader}}</h4>
                <p class="modal-text">{{modalWindowText}}</p>
                <p class="modal-email">
                    <span></span>
                </p>
                <a id="redirect-href" href="https://yourbet.com" class="form__button modal__button">{{allrightBtn}}</a>
            </div>
        </div>
        </div>
    </script>
</main>
</body>
</html>