@import "variables.styl"

body
    background-color #000000
    font-family 'Roboto', Arial, sans-serif
.visually-hidden, .hidden
    display none
.main_content
    background-image url('images/bg-mobile.jpg')
    background-size 100% 100%
    background-color #000
    @media(min-width tablet)
        background-image url("images/bg-ipad.jpg")
        background-size cover
    @media(min-width desktop)
        background-image url("images/bg-desktop.jpg")
        min-height 100vh
.wrapper
    display flex
    flex-direction column
    max-width 443px
    margin 0 auto
    @media(min-width 990px)
        max-width 1100px
.header
    @media(min-width desktop)
        padding-top 2%
.header-content
    display flex
    justify-content center
    color #fff
    align-items center
    text-align center
    flex-direction column
    margin 0 auto
    line-height 38px
    @media(min-width desktop)
        width auto
        margin-left 0
        padding-left 39px
        margin-left 0
        align-items flex-start
    &__descr
        font-size 19px
        font-weight 300
        margin-top -8px
        @media(min-width desktop)
            font-size 40px
            margin-bottom 22px
            margin-top 5%
    picture
        padding-top 20px
//.header-content
//    @media(min-width 1920px)
//        padding-top 4%
.content-area-wrapper
    margin 0 auto
    display flex
    flex-direction column
    margin-top 2%
    max-width 1500px
    @media(min-width desktop)
        flex-direction row
.modal-block
    margin 0 auto
    background-color transparent
    @media(min-width desktop)
        margin 0
.bonus-block
    text-align center
    padding-top 25px
    &__descr
        font-size 26px
        font-weight 500
        margin-bottom 0
        color #fff
        @media(min-width desktop)
          font-size 55px
.block-headers
    display flex
    justify-content center
.modal-block
    width 88%
    margin-top 12px
    border-radius 11px
    height auto
    @media(min-width desktop)
        width 50%
.modal
    margin 0 auto
    height auto
.modal-body, .modal-footer
    margin 0 auto
    display flex
    justify-content center
    align-items center
    flex-direction column
.modal-body
    padding-top 15px
    width 98%
    display flex
    flex-direction column
    @media(min-width desktop)
      flex-direction column
      align-items flex-start
      width 100%
.user-address
    padding 23px 0 23px 0
    text-align center
    width 100%
    background-color #fff
    color #3f3f3f
    text-transform uppercase
    border 1px solid #fff
    margin-bottom 23px
    @media(min-width desktop)
        padding 23px 0 21px 40px
        text-align left
        height auto
        margin-bottom 0

.button-modal
    padding 23px
    width 100%
    font-size 18px
    color #fff
    text-transform uppercase
    border 1px solid #fa2401
    background-color #fa2401
    box-shadow: 0 26px 65.28px 2.72px rgba(49, 85, 2, 0.22);
    @media(min-width desktop)
      padding 20px
      padding-bottom 25px
      height auto
      width 70%
      white-space nowrap
    //&:hover
    //    background: -webkit-gradient(linear, left top, left bottom, from(#99e71e), to(#5abe12))
    //    background: linear-gradient(to bottom,#99e71e  0,#5abe12  100%)
    //    border none
    //&:active
    //    background: -webkit-gradient(linear, left top, left bottom, from(#83c00c), to(#4e9e0a))
    //    background: linear-gradient(to bottom,#83c00c  0,#4e9e0a  100%)
    //    border none

.terms-link
  color inherit
.checkbox-block
    padding-top 0
    padding-bottom 10px
    margin-top 30px
    @media(min-width desktop)
      margin-left 53px
      padding-right 16%
      margin-top 23px
.notice
    width 44%
    @media(min-width 990px)
        white-space wrap
        width auto
.steps-block
    display flex
    flex-direction column
    background-color #fff
    width 100%
    margin-top 16px
    text-align center
    color #000
    position relative
    @media(min-width desktop)
        background-image url("images/Rectangle-white.png")
        background-color transparent
        background-size cover
        margin-left -19%
        margin-top 80px
        width 80%
        height 200px
        background-position 100%
    &__header
        font-size 16px
        font-style italic
        font-weight bold
        text-transform uppercase
        width auto
        padding-top 24px
        line-height 20px
        margin-right 10px
        text-align center
        padding-bottom 23px
        @media(min-width desktop)
            font-size 20px
            padding-top 33px
            text-align left


.steps-block-wrapper
    display flex
    flex-direction column
    width auto
    margin-left auto
    margin-right auto
    @media(min-width desktop)
        margin-left 29%
        margin-right 8%
        flex-direction column
.steps-list
    display flex
    flex-direction column
    width auto
    @media(min-width desktop)
        flex-direction row
        align-items flex-start
        margin-right auto
    &__item
        font-size 16px
        font-weight 300
        font-style italic
        padding-bottom 40px
        margin-right 0
        display flex
        flex-direction column
        text-align center
        position relative
        line-height 25px
        @media(min-width desktop)
            margin-right 33px
            width auto
        //@media(min-width 1368px)
        //    width 30%
        &:after
            content ''
            position absolute
            background-image url("images/arrow-mobile.png");
            width 8px
            left 0
            right 0
            top 30px
            margin-left auto
            margin-right auto
            height 20px
            background-repeat no-repeat
            @media(min-width 990px)
                display none
                left auto
                right 0
                top 4px
                transform rotate(-90deg)
.steps-list__item--one
    position relative
    &::before
        content ''
    @media(min-width desktop)
        text-align center
    &::after
       @media(min-width 1200px)
            content ''
            right 0
            left auto
.steps-list__item--two
    position relative
    &::before
        content ''
    &::after
        top 54px
        @media(min-width desktop)
            top 4px
.steps-list__item--last-child
  padding-bottom 21px
  position relative
  @media(min-width desktop)
      margin-right 0
  &:after
    content ''
    background-image none
.achievements-block
    display flex
    flex-direction column
    padding-top 32px
    width 87%
    position relative
    margin 0 auto
    @media(min-width 990px)
        padding-top 0
        width 271px
        margin-top -220px
        margin-right 40px
    @media(min-width 1440px)
        margin-top -225px
.achievements-block-wrapper
    display flex
    flex-direction column
    width 100%
.achievment-item
    border 2px solid rgba(255,255,255, 0.4)
    background-color #fff
    color #000
    text-align left
    padding-top 22px
    padding-bottom 22px
    display flex
    width auto
    height auto
    line-height 20px
    z-index 10
    flex-direction column
    margin-bottom 22px
    position relative
    cursor pointer
    &__header
        font-size 18px
        font-weight bold
        @media(min-width desktop)
            margin-bottom 8px
    &__descr
        font-size 15px
        font-weight normal
    @media(min-width desktop)
      margin-bottom 38px
.achievment-item--one::after
    content ''
    background-image url("images/soccer-mobile.png")
    width 48px
    height 33px
    left 44px
    top 25px
    position absolute
    @media(min-width tablet)
        left 14%
    @media(min-width desktop)
        background-image url("images/soccer.png")
        width 32px
        height 22px
.achievment-item--two::after
    content ''
    background-image url("images/ball-mobile.png")
    width 48px
    height 48px
    left 44px
    top 19px
    position absolute
    @media(min-width tablet)
        left 14%
    @media(min-width desktop)
        background-image url("images/volleyball.png")
        width 32px
        height 32px

//.achievment-item--last-child
//    @media(min-width 1200px)
//        margin-right 11%
//    @media(min-width 1920px)
//        margin-right 25%
.achievment-item--last-child
    @media(min-width desktop)
        padding-top 10px
        padding-bottom 14px
.achievment-item--last-child::after
    content ''
    background-image url("images/whistle-mobile.png")
    width 48px
    height 45px
    top 25px
    left 44px
    position absolute
    @media (min-width tablet)
        left 14%
    @media(min-width desktop)
        background-image url("images/whistle.png")
        width 32px
        height 30px
.mobile-separate
    display inline
.steps-text
    font-weight bold
    font-size 17px
    color #fa2401
    @media(min-width desktop)
        font-size 15px
        text-align left
        line-height 18px
        margin-bottom 8px
.steps-text-descr
  font-weight bold
  font-size 14px
  @media(min-width desktop)
      font-size 14px
      font-weight normal
      text-align left
      line-height 18px
.form__terms-label-error__text
    display: none
.form__terms-label-error .form__terms-label-error__text
    position: absolute
    left: 29px
    top: 0
    color: #ff0000
    font-size: 12px
    display: block
.modal-window
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    padding: 0 10px
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    visibility: hidden
    opacity: 0
    display: flex
    justify-content: center
    z-index 10

.open
    visibility: visible
    opacity: 1
    z-index 50


.modal-frame
    background: #ffffff
    border-radius: 5px
    width: 450px
    position: relative
    transition: all 500ms ease-in-out;
    align-self: center
    text-align: center
    line-height 40px
    h4
        font-size 28px
        font-weight bold
.modal-frame:before
    content: '';
    display: block
    width: 195px
    height: 195px
    position: absolute
    top: 17%
    left: 50%
    transform: translate(-50%,-50%)

.modal-title
    color: #D6A336;
    font-size: 26.255px
    margin-bottom: 40px
    font-weight: bold

.modal-text
    color: #969378
    line-height normal
    padding-top 5px
    padding-left 30px
    padding-right 30px

.modal-email
    color: #000000
    margin-bottom: 20px
    font-size 20px
    font-weight bold
    text-transform uppercase
    padding-top 20px


.modal-email button
    display: inline-block
    color: #D6A336
    margin: 10px
    padding: 0
    cursor: pointer
    user-select: none
    border: 0
    background: none
    font: inherit
    line-height: normal

.modal__button
    width: 66%
    display: block
    font-weight: bold
    line-height: 50px
    margin 0 auto
    color: #ffffff
    text-decoration: none
    background-color #fa2401
    box-shadow: 0 26px 65.28px 2.72px rgba(49, 85, 2, 0.22);
    margin-bottom 20px

.modal-header
    font-size 17px
    font-weight 800
    color #000
    @media(min-width tablet)
        font-size 21px

.modal-window-header
    padding-top 20px
    padding-bottom 20px
    color #000
.form__terms-label-error__text
    display: none
.form__input-error__text
    color: #ff0000
    font-size: 14px
    display: block
    padding-bottom 6px
    display block

.form__terms-label-error
    display block
    font-size 12px
    padding-bottom 10px
    color: #ff0000
    margin-left 0
    margin-right auto
    margin-top -6px
.seen
    display block
.form__input-wrapper
    padding-top 15px

        //padding-top 14px
.mobile-separate
    display inline
    @media(min-width desktop)
        display none
.mobile-logo
    width 125px
    @media(min-width desktop)
        width 100%
.visible-ipad
    display none
    @media(min-width tablet)
        display block
    @media(min-width desktop)
        display none
.hidden-ipad
    display block
.text-wrapper
    display flex
    flex-direction column
    width auto
    margin 0 auto
    margin-left 121px
    &:nth-of-type(2)
        margin-left auto
    @media(min-width tablet)
        margin-left 37%
.form-container
  display flex
  flex-direction column
  width 100%
  @media(min-width desktop)
    flex-direction row
    margin-left 55px
    margin-bottom 13px
    width 88%
.form__input-error__text--email
  @media(min-width desktop)
    margin-left 86px
.steps-list__item--arrow-desktop
    display none
    @media(min-width desktop)
        display block
        position relative
        &:before
            content ''
            position absolute
            background-image url("images/arrow-mobile.png");
            width 8px
            left 0
            right 0
            top 0
            margin-left auto
            margin-right auto
            height 20px
            background-repeat no-repeat
            transform rotate(-90deg)
