.modal
  .form-register
    width 20em
    margin 0 auto
    &__label
      position relative
      display block
      padding 0.5em 0

    &__text-input
      text-align center
      width 100%
      padding 1em 0.5em
      outline none
      background white
      border none
      display block
      border-radius 0.5em
      font-size 1.2em
      // color white
      &:not([value=""]) + span, &:focus + span 
        font-size 0.7em
        font-weight 400
        left 0
        transform translate3d(1.5em, -5px, 0)

    &__checkbox-label
      display flex
      padding 1em 0.7em 0.5em
      position relative
      outline none
      text-align left
      input
        flex 0 0 2em
        width 2em
        position: absolute;
        opacity: 0;
        &:checked ~ span:before
          background url('./check.png') center / contain no-repeat 
        &.has-error ~ span:before
          box-shadow 0 0 4px 0 #F21010
          border-color rgba(255,255,255,0.3)
      span
        position relative
        display block
        color white
        padding-left 28px
        a
          color #969377
          text-decoration none
        &:before
          display block
          content ''
          position absolute
          width 20px
          height 20px
          // background red
          border 1px solid white
          transform translateX(-28px)

  .success-block
    &__heading
      color #D6A336
      font-size 1.7em
      margin-bottom 1.66em
      font-weight bold